SQLTestAdapter/Connected Services/EAPIServiceReference/EAPI9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Shubert.EApiWS.DataTransferObjects.Responses" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Shubert.EApiWS.DataTransferObjects.Responses" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://geapi.dqtelecharge.com/EAPI.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Shubert.EApiWS.DataTransferObjects.Tokens" />
  <xs:import schemaLocation="https://geapi.dqtelecharge.com/EAPI.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Shubert.EApiWS.DataTransferObjects.Data" />
  <xs:import schemaLocation="https://geapi.dqtelecharge.com/EAPI.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Shubert.EApiWS.DataTransferObjects" />
  <xs:import schemaLocation="https://geapi.dqtelecharge.com/EAPI.svc?xsd=xsd9" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="https://geapi.dqtelecharge.com/EAPI.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/Shubert.EApiWS.TicketingSystems.TelechargeAdapterHelpers" />
  <xs:import schemaLocation="https://geapi.dqtelecharge.com/EAPI.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/Shubert.EApiWS.DataTransferObjects.Detail" />
  <xs:complexType name="SignOnResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/Shubert.EApiWS.DataTransferObjects.Tokens" minOccurs="0" name="AuthToke" nillable="true" type="q1:AuthToken" />
          <xs:element minOccurs="0" name="SiteId" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SignOnResponse" nillable="true" type="tns:SignOnResponse" />
  <xs:complexType name="BaseResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="IsEmpty" type="xs:boolean" />
      <xs:element minOccurs="0" name="Response" nillable="true" type="tns:ResponseMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BaseResponse" nillable="true" type="tns:BaseResponse" />
  <xs:complexType name="ResponseMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Success" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseMessage" nillable="true" type="tns:ResponseMessage" />
  <xs:complexType name="SignOffResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SignOffResponse" nillable="true" type="tns:SignOffResponse" />
  <xs:complexType name="SessionResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Shubert.EApiWS.DataTransferObjects.Data" minOccurs="0" name="MethodPermissions" nillable="true" type="q2:ArrayOfMethodPermission" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Shubert.EApiWS.DataTransferObjects.Tokens" minOccurs="0" name="SessionToke" nillable="true" type="q3:SessionToken" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SessionResponse" nillable="true" type="tns:SessionResponse" />
  <xs:complexType name="EndSessionResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="EndSessionResponse" nillable="true" type="tns:EndSessionResponse" />
  <xs:complexType name="ShowsResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Shubert.EApiWS.DataTransferObjects.Data" minOccurs="0" name="Shows" nillable="true" type="q4:ArrayOfShow" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ShowsResponse" nillable="true" type="tns:ShowsResponse" />
  <xs:complexType name="ShowDetailsResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Shubert.EApiWS.DataTransferObjects.Data" minOccurs="0" name="ShowDetail" nillable="true" type="q5:ShowDetail" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ShowDetailsResponse" nillable="true" type="tns:ShowDetailsResponse" />
  <xs:complexType name="OfferDetailsResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="OfferDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OfferId" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="OfferName" nillable="true" type="xs:string" />
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Shubert.EApiWS.DataTransferObjects.Data" minOccurs="0" name="PackageDetails" nillable="true" type="q6:ArrayOfPackageDetail" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OfferDetailsResponse" nillable="true" type="tns:OfferDetailsResponse" />
  <xs:complexType name="NonPerformanceProductResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Shubert.EApiWS.DataTransferObjects" minOccurs="0" name="Products" nillable="true" type="q7:ArrayOfNonPerformanceProduct" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NonPerformanceProductResponse" nillable="true" type="tns:NonPerformanceProductResponse" />
  <xs:complexType name="MarketMemoResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Shubert.EApiWS.DataTransferObjects.Data" minOccurs="0" name="MarketMemo" nillable="true" type="q8:ArrayOfMarketMemo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MarketMemoResponse" nillable="true" type="tns:MarketMemoResponse" />
  <xs:complexType name="PerformancesResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="PerfCount" type="xs:int" />
          <xs:element minOccurs="0" name="PerfEndDate" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PerfStartDate" nillable="true" type="xs:string" />
          <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Shubert.EApiWS.DataTransferObjects.Data" minOccurs="0" name="Performances" nillable="true" type="q9:ArrayOfPerformance" />
          <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Shubert.EApiWS.DataTransferObjects.Data" minOccurs="0" name="WeeklyPerfSchedule" nillable="true" type="q10:ArrayOfPerfSchedDay" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PerformancesResponse" nillable="true" type="tns:PerformancesResponse" />
  <xs:complexType name="AreasResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Shubert.EApiWS.DataTransferObjects.Data" minOccurs="0" name="Areas" nillable="true" type="q11:ArrayOfArea" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AreasResponse" nillable="true" type="tns:AreasResponse" />
  <xs:complexType name="TimeCategoriesResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/Shubert.EApiWS.DataTransferObjects.Data" minOccurs="0" name="TimeCategories" nillable="true" type="q12:ArrayOfTimeCategory" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TimeCategoriesResponse" nillable="true" type="tns:TimeCategoriesResponse" />
  <xs:complexType name="AdaInfoResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/Shubert.EApiWS.DataTransferObjects.Data" minOccurs="0" name="AdaConfig" nillable="true" type="q13:ArrayOfADAConfig" />
          <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/Shubert.EApiWS.DataTransferObjects.Data" minOccurs="0" name="AdaKinds" nillable="true" type="q14:ArrayOfAdaKind" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AdaInfoResponse" nillable="true" type="tns:AdaInfoResponse" />
  <xs:complexType name="PricingResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/Shubert.EApiWS.DataTransferObjects.Data" minOccurs="0" name="PerfPrices" nillable="true" type="q15:ArrayOfPerfPrice" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PricingResponse" nillable="true" type="tns:PricingResponse" />
  <xs:complexType name="AvailabilityResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/Shubert.EApiWS.DataTransferObjects.Data" minOccurs="0" name="PerfAvails" nillable="true" type="q16:ArrayOfPerfAvail" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AvailabilityResponse" nillable="true" type="tns:AvailabilityResponse" />
  <xs:complexType name="MktLocationsResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/Shubert.EApiWS.DataTransferObjects.Data" minOccurs="0" name="MktLocations" nillable="true" type="q17:ArrayOfMktLocation" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MktLocationsResponse" nillable="true" type="tns:MktLocationsResponse" />
  <xs:complexType name="CountriesResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/Shubert.EApiWS.DataTransferObjects.Data" minOccurs="0" name="Countries" nillable="true" type="q18:ArrayOfCountry" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CountriesResponse" nillable="true" type="tns:CountriesResponse" />
  <xs:complexType name="StatesResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/Shubert.EApiWS.DataTransferObjects.Data" minOccurs="0" name="States" nillable="true" type="q19:ArrayOfState" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="StatesResponse" nillable="true" type="tns:StatesResponse" />
  <xs:complexType name="CitiesResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/Shubert.EApiWS.DataTransferObjects.Data" minOccurs="0" name="Cities" nillable="true" type="q20:ArrayOfCity" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CitiesResponse" nillable="true" type="tns:CitiesResponse" />
  <xs:complexType name="MethodsOfPaymentResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/Shubert.EApiWS.DataTransferObjects.Data" minOccurs="0" name="MethodsOfPayment" nillable="true" type="q21:ArrayOfMethodOfPaymentInfo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="MethodsOfPaymentResponse" nillable="true" type="tns:MethodsOfPaymentResponse" />
  <xs:complexType name="ContactsResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/Shubert.EApiWS.DataTransferObjects.Data" minOccurs="0" name="Contacts" nillable="true" type="q22:ArrayOfContactInfo" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ContactsResponse" nillable="true" type="tns:ContactsResponse" />
  <xs:complexType name="CaptchaResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="AnswerRequired" type="xs:boolean" />
          <xs:element minOccurs="0" name="CaptchaSuccess" type="xs:boolean" />
          <xs:element minOccurs="0" name="Image" nillable="true" type="xs:base64Binary" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CaptchaResponse" nillable="true" type="tns:CaptchaResponse" />
  <xs:complexType name="SelectResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q23="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="CCType" nillable="true" type="q23:ArrayOfstring" />
          <xs:element minOccurs="0" name="Choices" nillable="true" type="tns:ArrayOfResponseChoice" />
          <xs:element minOccurs="0" name="DisabilityFlag" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EapiShowId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EventCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EventDayLightSavings" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EventMessage" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EventName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EventTimeZone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HasMod" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MarketingCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MethodOfDelivery" nillable="true" type="tns:ArrayOfResponseMethodOfDelivery" />
          <xs:element minOccurs="0" name="MiscPassThru" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OfferId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OtherMessages" nillable="true" type="tns:ArrayOfMessage" />
          <xs:element minOccurs="0" name="Performance" nillable="true" type="tns:Perf" />
          <xs:element minOccurs="0" name="ProductType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Rewards" nillable="true" type="tns:ArrayOfReponseReward" />
          <xs:element minOccurs="0" name="StatChange" nillable="true" type="xs:string" />
          <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/Shubert.EApiWS.DataTransferObjects.Data" minOccurs="0" name="Taxes" nillable="true" type="q24:Taxes" />
          <xs:element minOccurs="0" name="VenueAddress" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SelectResponse" nillable="true" type="tns:SelectResponse" />
  <xs:complexType name="ArrayOfResponseChoice">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResponseChoice" nillable="true" type="tns:ResponseChoice" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResponseChoice" nillable="true" type="tns:ArrayOfResponseChoice" />
  <xs:complexType name="ResponseChoice">
    <xs:sequence>
      <xs:element minOccurs="0" name="AncillaryAmount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ChoiceNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstablishedPrice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaxAmount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TicketAmount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TicketServiceCharge" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalCost" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalPrice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalServiceCharge" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalTicketAmount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TransactionServiceCharge" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UseAncillary" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UseAncillaryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UseAncillaryValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="seatprices" nillable="true" type="tns:ArrayOfSeatPrice" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseChoice" nillable="true" type="tns:ResponseChoice" />
  <xs:complexType name="ArrayOfSeatPrice">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SeatPrice" nillable="true" type="tns:SeatPrice" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSeatPrice" nillable="true" type="tns:ArrayOfSeatPrice" />
  <xs:complexType name="SeatPrice">
    <xs:sequence>
      <xs:element minOccurs="0" name="AncilName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AncilName20" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AncilTotal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Area" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EstablishedPrice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HighSeatLoc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="HighSeatNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IncludedAncilAmt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LowSeatLoc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LowSeatNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MsgPriceCodeNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MsgZoneNum" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumRows" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumTix" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PriceCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PriceCodeDesc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PriceCodeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PriceSet" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Row" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RowCodeMsg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RowDistMsg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SeatInc" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SeatMsg" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SeatStat" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SeatStatName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Section" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaxName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TaxTotal" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TixAncilAmt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TixOperShare" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TixPrice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TixServiceCharge" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TotalPrice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UseAncil20" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UseAncillary" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UseAncillaryName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UseAncillaryValue" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZoneEventName1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZoneEventName1Use" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZoneEventName2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZoneEventName2Use" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZoneEventNo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZoneEventZoneType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZoneLevel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZoneLogicalLevel" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZoneNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SeatPrice" nillable="true" type="tns:SeatPrice" />
  <xs:complexType name="ArrayOfResponseMethodOfDelivery">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ResponseMethodOfDelivery" nillable="true" type="tns:ResponseMethodOfDelivery" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfResponseMethodOfDelivery" nillable="true" type="tns:ArrayOfResponseMethodOfDelivery" />
  <xs:complexType name="ResponseMethodOfDelivery">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FeeAmt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Kind" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MixOrder" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ZipRequired" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrintDeferDays" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseMethodOfDelivery" nillable="true" type="tns:ResponseMethodOfDelivery" />
  <xs:complexType name="ArrayOfMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Message" nillable="true" type="tns:Message" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMessage" nillable="true" type="tns:ArrayOfMessage" />
  <xs:complexType name="Message">
    <xs:sequence>
      <xs:element minOccurs="0" name="messagetext" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="messagetype" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Message" nillable="true" type="tns:Message" />
  <xs:complexType name="Perf">
    <xs:sequence>
      <xs:element minOccurs="0" name="AmexSeating" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ConfirmSplit" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DifferentChoice" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Levels" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MktPerfMemo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ObservationMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PerfDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PerfDow" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PerfName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PerfRealTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PerfTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PerfType" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PerfXTime" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PerformanceMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SoldOutAlt" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Perf" nillable="true" type="tns:Perf" />
  <xs:complexType name="ArrayOfReponseReward">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ReponseReward" nillable="true" type="tns:ReponseReward" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReponseReward" nillable="true" type="tns:ArrayOfReponseReward" />
  <xs:complexType name="ReponseReward">
    <xs:sequence>
      <xs:element minOccurs="0" name="rewardId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="rewardProgram" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReponseReward" nillable="true" type="tns:ReponseReward" />
  <xs:complexType name="CustomerDataResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CustomerDataResponse" nillable="true" type="tns:CustomerDataResponse" />
  <xs:complexType name="BuyResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="EapiShowId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Event" nillable="true" type="tns:Evt" />
          <xs:element minOccurs="0" name="MethodOfDelivery" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrderNameNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrderNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OtherMessages" nillable="true" type="tns:ArrayOfMessageBlock" />
          <xs:element minOccurs="0" name="Payment" nillable="true" type="tns:ArrayOfPayment" />
          <xs:element minOccurs="0" name="PaymentNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Perf" nillable="true" type="tns:Perf" />
          <xs:element minOccurs="0" name="SeatPrice" nillable="true" type="tns:ArrayOfSeatPrice" />
          <xs:element minOccurs="0" name="SeatingInfo" nillable="true" type="tns:ArrayOfSeatPrice" />
          <xs:element minOccurs="0" name="SuppOrderNumber" nillable="true" type="xs:string" />
          <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/Shubert.EApiWS.DataTransferObjects.Data" minOccurs="0" name="Taxes" nillable="true" type="q25:Taxes" />
          <xs:element xmlns:q26="http://schemas.datacontract.org/2004/07/Shubert.EApiWS.TicketingSystems.TelechargeAdapterHelpers" minOccurs="0" name="TheBuyResponse" nillable="true" type="q26:BuyResponse" />
          <xs:element minOccurs="0" name="TixTrans" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TotalAncilAmt" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TotalCost" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TotalNumberOfTickets" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TotalPrice" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TotalServiceCharge" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TotalTax" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TotalTicketsAmount" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TransServiceCharge" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TransServiceChargeOS" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="buyOperatorId" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="client_info_begin_time" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="client_info_ip" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="server_info_begin_time" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MemberId" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BuyResponse" nillable="true" type="tns:BuyResponse" />
  <xs:complexType name="Evt">
    <xs:sequence>
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DayLightSavings" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EapiShowId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EventCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EventDescription" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EventMessage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EventName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EventVerifyReq" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FacilityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MktEventMemo" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="StsFlag" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimeZone" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VenueAddress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VenueName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Evt" nillable="true" type="tns:Evt" />
  <xs:complexType name="ArrayOfMessageBlock">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="MessageBlock" nillable="true" type="tns:MessageBlock" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfMessageBlock" nillable="true" type="tns:ArrayOfMessageBlock" />
  <xs:complexType name="MessageBlock">
    <xs:sequence>
      <xs:element minOccurs="0" name="code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="error" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="mesg" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MessageBlock" nillable="true" type="tns:MessageBlock" />
  <xs:complexType name="ArrayOfPayment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Payment" nillable="true" type="tns:Payment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPayment" nillable="true" type="tns:ArrayOfPayment" />
  <xs:complexType name="Payment">
    <xs:sequence>
      <xs:element minOccurs="0" name="Mop" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="amt" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="reference" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Payment" nillable="true" type="tns:Payment" />
  <xs:complexType name="HoldToStatusResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q27="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="Stat" nillable="true" type="q27:ArrayOfstring" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="HoldToStatusResponse" nillable="true" type="tns:HoldToStatusResponse" />
  <xs:complexType name="ExtendTimeResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="TimeMessage" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExtendTimeResponse" nillable="true" type="tns:ExtendTimeResponse" />
  <xs:complexType name="RewardResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="RewardResponse" nillable="true" type="tns:RewardResponse" />
  <xs:complexType name="ReturnResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence />
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ReturnResponse" nillable="true" type="tns:ReturnResponse" />
  <xs:complexType name="ConfigResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q28="http://schemas.datacontract.org/2004/07/Shubert.EApiWS.DataTransferObjects.Data" minOccurs="0" name="Config" nillable="true" type="q28:ArrayOfConfigItem" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ConfigResponse" nillable="true" type="tns:ConfigResponse" />
  <xs:complexType name="AccountVerifyResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q29="http://schemas.datacontract.org/2004/07/Shubert.EApiWS.DataTransferObjects.Data" minOccurs="0" name="Name" nillable="true" type="q29:NameBlock" />
          <xs:element minOccurs="0" name="Balance" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AccountVerifyResponse" nillable="true" type="tns:AccountVerifyResponse" />
  <xs:complexType name="TicketsResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q30="http://schemas.datacontract.org/2004/07/Shubert.EApiWS.DataTransferObjects.Detail" minOccurs="0" name="TicketDetail" nillable="true" type="q30:TicketDetail" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TicketsResponse" nillable="true" type="tns:TicketsResponse" />
  <xs:complexType name="PDFTicketsResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="PDF" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PDFTicketsResponse" nillable="true" type="tns:PDFTicketsResponse" />
  <xs:complexType name="KioskImagesResponse">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:BaseResponse">
        <xs:sequence>
          <xs:element xmlns:q31="http://schemas.datacontract.org/2004/07/Shubert.EApiWS.DataTransferObjects.Data" minOccurs="0" name="ImageInfo" nillable="true" type="q31:ArrayOfHtmlItems" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="KioskImagesResponse" nillable="true" type="tns:KioskImagesResponse" />
</xs:schema>