SQLTestAdapter/Connected Services/EAPIServiceReference/EAPI.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="TelechargeEAPI/EAPI/2013/04" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="TelechargeEAPI/EAPI/2013/04" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="TelechargeEAPI/EAPI/2013/04/Imports">
      <xsd:import schemaLocation="https://geapi.dqtelecharge.com/EAPI.svc?xsd=xsd0" namespace="TelechargeEAPI/EAPI/2013/04" />
      <xsd:import schemaLocation="https://geapi.dqtelecharge.com/EAPI.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/Shubert.EApiWS" />
      <xsd:import schemaLocation="https://geapi.dqtelecharge.com/EAPI.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://geapi.dqtelecharge.com/EAPI.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/Shubert.EApiWS.DataTransferObjects.Responses" />
      <xsd:import schemaLocation="https://geapi.dqtelecharge.com/EAPI.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Shubert.EApiWS.DataTransferObjects.Tokens" />
      <xsd:import schemaLocation="https://geapi.dqtelecharge.com/EAPI.svc?xsd=xsd5" />
      <xsd:import schemaLocation="https://geapi.dqtelecharge.com/EAPI.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Shubert.EApiWS.DataTransferObjects.Data" />
      <xsd:import schemaLocation="https://geapi.dqtelecharge.com/EAPI.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Shubert.EApiWS.DataTransferObjects.Filters" />
      <xsd:import schemaLocation="https://geapi.dqtelecharge.com/EAPI.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/Shubert.EApiWS.DataTransferObjects" />
      <xsd:import schemaLocation="https://geapi.dqtelecharge.com/EAPI.svc?xsd=xsd9" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="https://geapi.dqtelecharge.com/EAPI.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/Shubert.Ticketing" />
      <xsd:import schemaLocation="https://geapi.dqtelecharge.com/EAPI.svc?xsd=xsd11" namespace="http://schemas.datacontract.org/2016/07/Shubert.EApiWS.DataTransferObjects.Filters" />
      <xsd:import schemaLocation="https://geapi.dqtelecharge.com/EAPI.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/Shubert.EApiWS.TicketingSystems.TelechargeAdapterHelpers" />
      <xsd:import schemaLocation="https://geapi.dqtelecharge.com/EAPI.svc?xsd=xsd13" namespace="http://schemas.datacontract.org/2004/07/Shubert.EApiWS.DataTransferObjects.Detail" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IEAPI_Ping_InputMessage">
    <wsdl:part name="parameters" element="tns:Ping" />
  </wsdl:message>
  <wsdl:message name="IEAPI_Ping_OutputMessage">
    <wsdl:part name="parameters" element="tns:PingResponse" />
  </wsdl:message>
  <wsdl:message name="IEAPI_Ping_HideFaultDetailsFault_FaultMessage">
    <wsdl:part xmlns:q1="http://schemas.datacontract.org/2004/07/Shubert.EApiWS" name="detail" element="q1:HideFaultDetails" />
  </wsdl:message>
  <wsdl:message name="IEAPI_SignOn_InputMessage">
    <wsdl:part name="parameters" element="tns:SignOn" />
  </wsdl:message>
  <wsdl:message name="IEAPI_SignOn_OutputMessage">
    <wsdl:part name="parameters" element="tns:SignOnResponse" />
  </wsdl:message>
  <wsdl:message name="IEAPI_SignOn_HideFaultDetailsFault_FaultMessage">
    <wsdl:part xmlns:q2="http://schemas.datacontract.org/2004/07/Shubert.EApiWS" name="detail" element="q2:HideFaultDetails" />
  </wsdl:message>
  <wsdl:message name="IEAPI_SignOff_InputMessage">
    <wsdl:part name="parameters" element="tns:SignOff" />
  </wsdl:message>
  <wsdl:message name="IEAPI_SignOff_OutputMessage">
    <wsdl:part name="parameters" element="tns:SignOffResponse" />
  </wsdl:message>
  <wsdl:message name="IEAPI_SignOff_HideFaultDetailsFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.datacontract.org/2004/07/Shubert.EApiWS" name="detail" element="q3:HideFaultDetails" />
  </wsdl:message>
  <wsdl:message name="IEAPI_StartNewSession_InputMessage">
    <wsdl:part name="parameters" element="tns:StartNewSession" />
  </wsdl:message>
  <wsdl:message name="IEAPI_StartNewSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:StartNewSessionResponse" />
  </wsdl:message>
  <wsdl:message name="IEAPI_StartNewSession_HideFaultDetailsFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.datacontract.org/2004/07/Shubert.EApiWS" name="detail" element="q4:HideFaultDetails" />
  </wsdl:message>
  <wsdl:message name="IEAPI_EndSession_InputMessage">
    <wsdl:part name="parameters" element="tns:EndSession" />
  </wsdl:message>
  <wsdl:message name="IEAPI_EndSession_OutputMessage">
    <wsdl:part name="parameters" element="tns:EndSessionResponse" />
  </wsdl:message>
  <wsdl:message name="IEAPI_EndSession_HideFaultDetailsFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.datacontract.org/2004/07/Shubert.EApiWS" name="detail" element="q5:HideFaultDetails" />
  </wsdl:message>
  <wsdl:message name="IEAPI_Shows_InputMessage">
    <wsdl:part name="parameters" element="tns:Shows" />
  </wsdl:message>
  <wsdl:message name="IEAPI_Shows_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowsResponse" />
  </wsdl:message>
  <wsdl:message name="IEAPI_Shows_HideFaultDetailsFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.datacontract.org/2004/07/Shubert.EApiWS" name="detail" element="q6:HideFaultDetails" />
  </wsdl:message>
  <wsdl:message name="IEAPI_ShowDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:ShowDetails" />
  </wsdl:message>
  <wsdl:message name="IEAPI_ShowDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:ShowDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IEAPI_ShowDetails_HideFaultDetailsFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.datacontract.org/2004/07/Shubert.EApiWS" name="detail" element="q7:HideFaultDetails" />
  </wsdl:message>
  <wsdl:message name="IEAPI_OfferDetails_InputMessage">
    <wsdl:part name="parameters" element="tns:OfferDetails" />
  </wsdl:message>
  <wsdl:message name="IEAPI_OfferDetails_OutputMessage">
    <wsdl:part name="parameters" element="tns:OfferDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="IEAPI_OfferDetails_HideFaultDetailsFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.datacontract.org/2004/07/Shubert.EApiWS" name="detail" element="q8:HideFaultDetails" />
  </wsdl:message>
  <wsdl:message name="IEAPI_NonPerformanceProducts_InputMessage">
    <wsdl:part name="parameters" element="tns:NonPerformanceProducts" />
  </wsdl:message>
  <wsdl:message name="IEAPI_NonPerformanceProducts_OutputMessage">
    <wsdl:part name="parameters" element="tns:NonPerformanceProductsResponse" />
  </wsdl:message>
  <wsdl:message name="IEAPI_NonPerformanceProducts_HideFaultDetailsFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.datacontract.org/2004/07/Shubert.EApiWS" name="detail" element="q9:HideFaultDetails" />
  </wsdl:message>
  <wsdl:message name="IEAPI_MarketMemo_InputMessage">
    <wsdl:part name="parameters" element="tns:MarketMemo" />
  </wsdl:message>
  <wsdl:message name="IEAPI_MarketMemo_OutputMessage">
    <wsdl:part name="parameters" element="tns:MarketMemoResponse" />
  </wsdl:message>
  <wsdl:message name="IEAPI_MarketMemo_HideFaultDetailsFault_FaultMessage">
    <wsdl:part xmlns:q10="http://schemas.datacontract.org/2004/07/Shubert.EApiWS" name="detail" element="q10:HideFaultDetails" />
  </wsdl:message>
  <wsdl:message name="IEAPI_Performances_InputMessage">
    <wsdl:part name="parameters" element="tns:Performances" />
  </wsdl:message>
  <wsdl:message name="IEAPI_Performances_OutputMessage">
    <wsdl:part name="parameters" element="tns:PerformancesResponse" />
  </wsdl:message>
  <wsdl:message name="IEAPI_Performances_HideFaultDetailsFault_FaultMessage">
    <wsdl:part xmlns:q11="http://schemas.datacontract.org/2004/07/Shubert.EApiWS" name="detail" element="q11:HideFaultDetails" />
  </wsdl:message>
  <wsdl:message name="IEAPI_Areas_InputMessage">
    <wsdl:part name="parameters" element="tns:Areas" />
  </wsdl:message>
  <wsdl:message name="IEAPI_Areas_OutputMessage">
    <wsdl:part name="parameters" element="tns:AreasResponse" />
  </wsdl:message>
  <wsdl:message name="IEAPI_Areas_HideFaultDetailsFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.datacontract.org/2004/07/Shubert.EApiWS" name="detail" element="q12:HideFaultDetails" />
  </wsdl:message>
  <wsdl:message name="IEAPI_TimeCategories_InputMessage">
    <wsdl:part name="parameters" element="tns:TimeCategories" />
  </wsdl:message>
  <wsdl:message name="IEAPI_TimeCategories_OutputMessage">
    <wsdl:part name="parameters" element="tns:TimeCategoriesResponse" />
  </wsdl:message>
  <wsdl:message name="IEAPI_TimeCategories_HideFaultDetailsFault_FaultMessage">
    <wsdl:part xmlns:q13="http://schemas.datacontract.org/2004/07/Shubert.EApiWS" name="detail" element="q13:HideFaultDetails" />
  </wsdl:message>
  <wsdl:message name="IEAPI_AdaInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:AdaInfo" />
  </wsdl:message>
  <wsdl:message name="IEAPI_AdaInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:AdaInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IEAPI_AdaInfo_HideFaultDetailsFault_FaultMessage">
    <wsdl:part xmlns:q14="http://schemas.datacontract.org/2004/07/Shubert.EApiWS" name="detail" element="q14:HideFaultDetails" />
  </wsdl:message>
  <wsdl:message name="IEAPI_Pricing_InputMessage">
    <wsdl:part name="parameters" element="tns:Pricing" />
  </wsdl:message>
  <wsdl:message name="IEAPI_Pricing_OutputMessage">
    <wsdl:part name="parameters" element="tns:PricingResponse" />
  </wsdl:message>
  <wsdl:message name="IEAPI_Pricing_HideFaultDetailsFault_FaultMessage">
    <wsdl:part xmlns:q15="http://schemas.datacontract.org/2004/07/Shubert.EApiWS" name="detail" element="q15:HideFaultDetails" />
  </wsdl:message>
  <wsdl:message name="IEAPI_Availability_InputMessage">
    <wsdl:part name="parameters" element="tns:Availability" />
  </wsdl:message>
  <wsdl:message name="IEAPI_Availability_OutputMessage">
    <wsdl:part name="parameters" element="tns:AvailabilityResponse" />
  </wsdl:message>
  <wsdl:message name="IEAPI_Availability_HideFaultDetailsFault_FaultMessage">
    <wsdl:part xmlns:q16="http://schemas.datacontract.org/2004/07/Shubert.EApiWS" name="detail" element="q16:HideFaultDetails" />
  </wsdl:message>
  <wsdl:message name="IEAPI_FetchMktLocations_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchMktLocations" />
  </wsdl:message>
  <wsdl:message name="IEAPI_FetchMktLocations_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchMktLocationsResponse" />
  </wsdl:message>
  <wsdl:message name="IEAPI_FetchMktLocations_HideFaultDetailsFault_FaultMessage">
    <wsdl:part xmlns:q17="http://schemas.datacontract.org/2004/07/Shubert.EApiWS" name="detail" element="q17:HideFaultDetails" />
  </wsdl:message>
  <wsdl:message name="IEAPI_FetchMktLocationsMkt_InputMessage">
    <wsdl:part name="parameters" element="tns:FetchMktLocationsMkt" />
  </wsdl:message>
  <wsdl:message name="IEAPI_FetchMktLocationsMkt_OutputMessage">
    <wsdl:part name="parameters" element="tns:FetchMktLocationsMktResponse" />
  </wsdl:message>
  <wsdl:message name="IEAPI_FetchMktLocationsMkt_HideFaultDetailsFault_FaultMessage">
    <wsdl:part xmlns:q18="http://schemas.datacontract.org/2004/07/Shubert.EApiWS" name="detail" element="q18:HideFaultDetails" />
  </wsdl:message>
  <wsdl:message name="IEAPI_Countries_InputMessage">
    <wsdl:part name="parameters" element="tns:Countries" />
  </wsdl:message>
  <wsdl:message name="IEAPI_Countries_OutputMessage">
    <wsdl:part name="parameters" element="tns:CountriesResponse" />
  </wsdl:message>
  <wsdl:message name="IEAPI_Countries_HideFaultDetailsFault_FaultMessage">
    <wsdl:part xmlns:q19="http://schemas.datacontract.org/2004/07/Shubert.EApiWS" name="detail" element="q19:HideFaultDetails" />
  </wsdl:message>
  <wsdl:message name="IEAPI_States_InputMessage">
    <wsdl:part name="parameters" element="tns:States" />
  </wsdl:message>
  <wsdl:message name="IEAPI_States_OutputMessage">
    <wsdl:part name="parameters" element="tns:StatesResponse" />
  </wsdl:message>
  <wsdl:message name="IEAPI_States_HideFaultDetailsFault_FaultMessage">
    <wsdl:part xmlns:q20="http://schemas.datacontract.org/2004/07/Shubert.EApiWS" name="detail" element="q20:HideFaultDetails" />
  </wsdl:message>
  <wsdl:message name="IEAPI_Cities_InputMessage">
    <wsdl:part name="parameters" element="tns:Cities" />
  </wsdl:message>
  <wsdl:message name="IEAPI_Cities_OutputMessage">
    <wsdl:part name="parameters" element="tns:CitiesResponse" />
  </wsdl:message>
  <wsdl:message name="IEAPI_Cities_HideFaultDetailsFault_FaultMessage">
    <wsdl:part xmlns:q21="http://schemas.datacontract.org/2004/07/Shubert.EApiWS" name="detail" element="q21:HideFaultDetails" />
  </wsdl:message>
  <wsdl:message name="IEAPI_MethodsOfPayment_InputMessage">
    <wsdl:part name="parameters" element="tns:MethodsOfPayment" />
  </wsdl:message>
  <wsdl:message name="IEAPI_MethodsOfPayment_OutputMessage">
    <wsdl:part name="parameters" element="tns:MethodsOfPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="IEAPI_MethodsOfPayment_HideFaultDetailsFault_FaultMessage">
    <wsdl:part xmlns:q22="http://schemas.datacontract.org/2004/07/Shubert.EApiWS" name="detail" element="q22:HideFaultDetails" />
  </wsdl:message>
  <wsdl:message name="IEAPI_MarketingCodes_InputMessage">
    <wsdl:part name="parameters" element="tns:MarketingCodes" />
  </wsdl:message>
  <wsdl:message name="IEAPI_MarketingCodes_OutputMessage">
    <wsdl:part name="parameters" element="tns:MarketingCodesResponse" />
  </wsdl:message>
  <wsdl:message name="IEAPI_MarketingCodes_HideFaultDetailsFault_FaultMessage">
    <wsdl:part xmlns:q23="http://schemas.datacontract.org/2004/07/Shubert.EApiWS" name="detail" element="q23:HideFaultDetails" />
  </wsdl:message>
  <wsdl:message name="IEAPI_Contacts_InputMessage">
    <wsdl:part name="parameters" element="tns:Contacts" />
  </wsdl:message>
  <wsdl:message name="IEAPI_Contacts_OutputMessage">
    <wsdl:part name="parameters" element="tns:ContactsResponse" />
  </wsdl:message>
  <wsdl:message name="IEAPI_Contacts_HideFaultDetailsFault_FaultMessage">
    <wsdl:part xmlns:q24="http://schemas.datacontract.org/2004/07/Shubert.EApiWS" name="detail" element="q24:HideFaultDetails" />
  </wsdl:message>
  <wsdl:message name="IEAPI_Captcha_InputMessage">
    <wsdl:part name="parameters" element="tns:Captcha" />
  </wsdl:message>
  <wsdl:message name="IEAPI_Captcha_OutputMessage">
    <wsdl:part name="parameters" element="tns:CaptchaResponse" />
  </wsdl:message>
  <wsdl:message name="IEAPI_Captcha_HideFaultDetailsFault_FaultMessage">
    <wsdl:part xmlns:q25="http://schemas.datacontract.org/2004/07/Shubert.EApiWS" name="detail" element="q25:HideFaultDetails" />
  </wsdl:message>
  <wsdl:message name="IEAPI_Select_InputMessage">
    <wsdl:part name="parameters" element="tns:Select" />
  </wsdl:message>
  <wsdl:message name="IEAPI_Select_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectResponse" />
  </wsdl:message>
  <wsdl:message name="IEAPI_Select_HideFaultDetailsFault_FaultMessage">
    <wsdl:part xmlns:q26="http://schemas.datacontract.org/2004/07/Shubert.EApiWS" name="detail" element="q26:HideFaultDetails" />
  </wsdl:message>
  <wsdl:message name="IEAPI_SelectNext_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectNext" />
  </wsdl:message>
  <wsdl:message name="IEAPI_SelectNext_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectNextResponse" />
  </wsdl:message>
  <wsdl:message name="IEAPI_SelectNext_HideFaultDetailsFault_FaultMessage">
    <wsdl:part xmlns:q27="http://schemas.datacontract.org/2004/07/Shubert.EApiWS" name="detail" element="q27:HideFaultDetails" />
  </wsdl:message>
  <wsdl:message name="IEAPI_SelectSpecific_InputMessage">
    <wsdl:part name="parameters" element="tns:SelectSpecific" />
  </wsdl:message>
  <wsdl:message name="IEAPI_SelectSpecific_OutputMessage">
    <wsdl:part name="parameters" element="tns:SelectSpecificResponse" />
  </wsdl:message>
  <wsdl:message name="IEAPI_SelectSpecific_HideFaultDetailsFault_FaultMessage">
    <wsdl:part xmlns:q28="http://schemas.datacontract.org/2004/07/Shubert.EApiWS" name="detail" element="q28:HideFaultDetails" />
  </wsdl:message>
  <wsdl:message name="IEAPI_SetCustomerData_InputMessage">
    <wsdl:part name="parameters" element="tns:SetCustomerData" />
  </wsdl:message>
  <wsdl:message name="IEAPI_SetCustomerData_OutputMessage">
    <wsdl:part name="parameters" element="tns:SetCustomerDataResponse" />
  </wsdl:message>
  <wsdl:message name="IEAPI_SetCustomerData_HideFaultDetailsFault_FaultMessage">
    <wsdl:part xmlns:q29="http://schemas.datacontract.org/2004/07/Shubert.EApiWS" name="detail" element="q29:HideFaultDetails" />
  </wsdl:message>
  <wsdl:message name="IEAPI_Buy_MultiplePayment_InputMessage">
    <wsdl:part name="parameters" element="tns:Buy_MultiplePayment" />
  </wsdl:message>
  <wsdl:message name="IEAPI_Buy_MultiplePayment_OutputMessage">
    <wsdl:part name="parameters" element="tns:Buy_MultiplePaymentResponse" />
  </wsdl:message>
  <wsdl:message name="IEAPI_Buy_MultiplePayment_HideFaultDetailsFault_FaultMessage">
    <wsdl:part xmlns:q30="http://schemas.datacontract.org/2004/07/Shubert.EApiWS" name="detail" element="q30:HideFaultDetails" />
  </wsdl:message>
  <wsdl:message name="IEAPI_Buy_InputMessage">
    <wsdl:part name="parameters" element="tns:Buy" />
  </wsdl:message>
  <wsdl:message name="IEAPI_Buy_OutputMessage">
    <wsdl:part name="parameters" element="tns:BuyResponse" />
  </wsdl:message>
  <wsdl:message name="IEAPI_Buy_HideFaultDetailsFault_FaultMessage">
    <wsdl:part xmlns:q31="http://schemas.datacontract.org/2004/07/Shubert.EApiWS" name="detail" element="q31:HideFaultDetails" />
  </wsdl:message>
  <wsdl:message name="IEAPI_HoldToStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:HoldToStatus" />
  </wsdl:message>
  <wsdl:message name="IEAPI_HoldToStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:HoldToStatusResponse" />
  </wsdl:message>
  <wsdl:message name="IEAPI_HoldToStatus_HideFaultDetailsFault_FaultMessage">
    <wsdl:part xmlns:q32="http://schemas.datacontract.org/2004/07/Shubert.EApiWS" name="detail" element="q32:HideFaultDetails" />
  </wsdl:message>
  <wsdl:message name="IEAPI_ExtendTime_InputMessage">
    <wsdl:part name="parameters" element="tns:ExtendTime" />
  </wsdl:message>
  <wsdl:message name="IEAPI_ExtendTime_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExtendTimeResponse" />
  </wsdl:message>
  <wsdl:message name="IEAPI_ExtendTime_HideFaultDetailsFault_FaultMessage">
    <wsdl:part xmlns:q33="http://schemas.datacontract.org/2004/07/Shubert.EApiWS" name="detail" element="q33:HideFaultDetails" />
  </wsdl:message>
  <wsdl:message name="IEAPI_AddReward_InputMessage">
    <wsdl:part name="parameters" element="tns:AddReward" />
  </wsdl:message>
  <wsdl:message name="IEAPI_AddReward_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddRewardResponse" />
  </wsdl:message>
  <wsdl:message name="IEAPI_AddReward_HideFaultDetailsFault_FaultMessage">
    <wsdl:part xmlns:q34="http://schemas.datacontract.org/2004/07/Shubert.EApiWS" name="detail" element="q34:HideFaultDetails" />
  </wsdl:message>
  <wsdl:message name="IEAPI_ReturnOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:ReturnOrder" />
  </wsdl:message>
  <wsdl:message name="IEAPI_ReturnOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReturnOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IEAPI_ReturnOrder_HideFaultDetailsFault_FaultMessage">
    <wsdl:part xmlns:q35="http://schemas.datacontract.org/2004/07/Shubert.EApiWS" name="detail" element="q35:HideFaultDetails" />
  </wsdl:message>
  <wsdl:message name="IEAPI_Config_InputMessage">
    <wsdl:part name="parameters" element="tns:Config" />
  </wsdl:message>
  <wsdl:message name="IEAPI_Config_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConfigResponse" />
  </wsdl:message>
  <wsdl:message name="IEAPI_Config_HideFaultDetailsFault_FaultMessage">
    <wsdl:part xmlns:q36="http://schemas.datacontract.org/2004/07/Shubert.EApiWS" name="detail" element="q36:HideFaultDetails" />
  </wsdl:message>
  <wsdl:message name="IEAPI_VerifyAccount_InputMessage">
    <wsdl:part name="parameters" element="tns:VerifyAccount" />
  </wsdl:message>
  <wsdl:message name="IEAPI_VerifyAccount_OutputMessage">
    <wsdl:part name="parameters" element="tns:VerifyAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IEAPI_VerifyAccount_HideFaultDetailsFault_FaultMessage">
    <wsdl:part xmlns:q37="http://schemas.datacontract.org/2004/07/Shubert.EApiWS" name="detail" element="q37:HideFaultDetails" />
  </wsdl:message>
  <wsdl:message name="IEAPI_OrderSeatingInfo_InputMessage">
    <wsdl:part name="parameters" element="tns:OrderSeatingInfo" />
  </wsdl:message>
  <wsdl:message name="IEAPI_OrderSeatingInfo_OutputMessage">
    <wsdl:part name="parameters" element="tns:OrderSeatingInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IEAPI_OrderSeatingInfo_HideFaultDetailsFault_FaultMessage">
    <wsdl:part xmlns:q38="http://schemas.datacontract.org/2004/07/Shubert.EApiWS" name="detail" element="q38:HideFaultDetails" />
  </wsdl:message>
  <wsdl:message name="IEAPI_Tickets_InputMessage">
    <wsdl:part name="parameters" element="tns:Tickets" />
  </wsdl:message>
  <wsdl:message name="IEAPI_Tickets_OutputMessage">
    <wsdl:part name="parameters" element="tns:TicketsResponse" />
  </wsdl:message>
  <wsdl:message name="IEAPI_Tickets_HideFaultDetailsFault_FaultMessage">
    <wsdl:part xmlns:q39="http://schemas.datacontract.org/2004/07/Shubert.EApiWS" name="detail" element="q39:HideFaultDetails" />
  </wsdl:message>
  <wsdl:message name="IEAPI_PDFTickets_InputMessage">
    <wsdl:part name="parameters" element="tns:PDFTickets" />
  </wsdl:message>
  <wsdl:message name="IEAPI_PDFTickets_OutputMessage">
    <wsdl:part name="parameters" element="tns:PDFTicketsResponse" />
  </wsdl:message>
  <wsdl:message name="IEAPI_PDFTickets_HideFaultDetailsFault_FaultMessage">
    <wsdl:part xmlns:q40="http://schemas.datacontract.org/2004/07/Shubert.EApiWS" name="detail" element="q40:HideFaultDetails" />
  </wsdl:message>
  <wsdl:message name="IEAPI_KioskImages_InputMessage">
    <wsdl:part name="parameters" element="tns:KioskImages" />
  </wsdl:message>
  <wsdl:message name="IEAPI_KioskImages_OutputMessage">
    <wsdl:part name="parameters" element="tns:KioskImagesResponse" />
  </wsdl:message>
  <wsdl:message name="IEAPI_KioskImages_HideFaultDetailsFault_FaultMessage">
    <wsdl:part xmlns:q41="http://schemas.datacontract.org/2004/07/Shubert.EApiWS" name="detail" element="q41:HideFaultDetails" />
  </wsdl:message>
  <wsdl:portType name="IEAPI">
    <wsdl:operation name="Ping">
      <wsdl:input wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/Ping" message="tns:IEAPI_Ping_InputMessage" />
      <wsdl:output wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/PingResponse" message="tns:IEAPI_Ping_OutputMessage" />
      <wsdl:fault wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/PingHideFaultDetailsFault" name="HideFaultDetailsFault" message="tns:IEAPI_Ping_HideFaultDetailsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SignOn">
      <wsdl:input wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/SignOn" message="tns:IEAPI_SignOn_InputMessage" />
      <wsdl:output wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/SignOnResponse" message="tns:IEAPI_SignOn_OutputMessage" />
      <wsdl:fault wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/SignOnHideFaultDetailsFault" name="HideFaultDetailsFault" message="tns:IEAPI_SignOn_HideFaultDetailsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SignOff">
      <wsdl:input wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/SignOff" message="tns:IEAPI_SignOff_InputMessage" />
      <wsdl:output wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/SignOffResponse" message="tns:IEAPI_SignOff_OutputMessage" />
      <wsdl:fault wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/SignOffHideFaultDetailsFault" name="HideFaultDetailsFault" message="tns:IEAPI_SignOff_HideFaultDetailsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="StartNewSession">
      <wsdl:input wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/StartNewSession" message="tns:IEAPI_StartNewSession_InputMessage" />
      <wsdl:output wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/StartNewSessionResponse" message="tns:IEAPI_StartNewSession_OutputMessage" />
      <wsdl:fault wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/StartNewSessionHideFaultDetailsFault" name="HideFaultDetailsFault" message="tns:IEAPI_StartNewSession_HideFaultDetailsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="EndSession">
      <wsdl:input wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/EndSession" message="tns:IEAPI_EndSession_InputMessage" />
      <wsdl:output wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/EndSessionResponse" message="tns:IEAPI_EndSession_OutputMessage" />
      <wsdl:fault wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/EndSessionHideFaultDetailsFault" name="HideFaultDetailsFault" message="tns:IEAPI_EndSession_HideFaultDetailsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Shows">
      <wsdl:input wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/Shows" message="tns:IEAPI_Shows_InputMessage" />
      <wsdl:output wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/ShowsResponse" message="tns:IEAPI_Shows_OutputMessage" />
      <wsdl:fault wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/ShowsHideFaultDetailsFault" name="HideFaultDetailsFault" message="tns:IEAPI_Shows_HideFaultDetailsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ShowDetails">
      <wsdl:input wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/ShowDetails" message="tns:IEAPI_ShowDetails_InputMessage" />
      <wsdl:output wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/ShowDetailsResponse" message="tns:IEAPI_ShowDetails_OutputMessage" />
      <wsdl:fault wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/ShowDetailsHideFaultDetailsFault" name="HideFaultDetailsFault" message="tns:IEAPI_ShowDetails_HideFaultDetailsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="OfferDetails">
      <wsdl:input wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/OfferDetails" message="tns:IEAPI_OfferDetails_InputMessage" />
      <wsdl:output wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/OfferDetailsResponse" message="tns:IEAPI_OfferDetails_OutputMessage" />
      <wsdl:fault wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/OfferDetailsHideFaultDetailsFault" name="HideFaultDetailsFault" message="tns:IEAPI_OfferDetails_HideFaultDetailsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="NonPerformanceProducts">
      <wsdl:input wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/NonPerformanceProducts" message="tns:IEAPI_NonPerformanceProducts_InputMessage" />
      <wsdl:output wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/NonPerformanceProductsResponse" message="tns:IEAPI_NonPerformanceProducts_OutputMessage" />
      <wsdl:fault wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/NonPerformanceProductsHideFaultDetailsFault" name="HideFaultDetailsFault" message="tns:IEAPI_NonPerformanceProducts_HideFaultDetailsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="MarketMemo">
      <wsdl:input wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/MarketMemo" message="tns:IEAPI_MarketMemo_InputMessage" />
      <wsdl:output wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/MarketMemoResponse" message="tns:IEAPI_MarketMemo_OutputMessage" />
      <wsdl:fault wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/MarketMemoHideFaultDetailsFault" name="HideFaultDetailsFault" message="tns:IEAPI_MarketMemo_HideFaultDetailsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Performances">
      <wsdl:input wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/Performances" message="tns:IEAPI_Performances_InputMessage" />
      <wsdl:output wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/PerformancesResponse" message="tns:IEAPI_Performances_OutputMessage" />
      <wsdl:fault wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/PerformancesHideFaultDetailsFault" name="HideFaultDetailsFault" message="tns:IEAPI_Performances_HideFaultDetailsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Areas">
      <wsdl:input wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/Areas" message="tns:IEAPI_Areas_InputMessage" />
      <wsdl:output wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/AreasResponse" message="tns:IEAPI_Areas_OutputMessage" />
      <wsdl:fault wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/AreasHideFaultDetailsFault" name="HideFaultDetailsFault" message="tns:IEAPI_Areas_HideFaultDetailsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="TimeCategories">
      <wsdl:input wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/TimeCategories" message="tns:IEAPI_TimeCategories_InputMessage" />
      <wsdl:output wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/TimeCategoriesResponse" message="tns:IEAPI_TimeCategories_OutputMessage" />
      <wsdl:fault wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/TimeCategoriesHideFaultDetailsFault" name="HideFaultDetailsFault" message="tns:IEAPI_TimeCategories_HideFaultDetailsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AdaInfo">
      <wsdl:input wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/AdaInfo" message="tns:IEAPI_AdaInfo_InputMessage" />
      <wsdl:output wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/AdaInfoResponse" message="tns:IEAPI_AdaInfo_OutputMessage" />
      <wsdl:fault wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/AdaInfoHideFaultDetailsFault" name="HideFaultDetailsFault" message="tns:IEAPI_AdaInfo_HideFaultDetailsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Pricing">
      <wsdl:input wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/Pricing" message="tns:IEAPI_Pricing_InputMessage" />
      <wsdl:output wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/PricingResponse" message="tns:IEAPI_Pricing_OutputMessage" />
      <wsdl:fault wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/PricingHideFaultDetailsFault" name="HideFaultDetailsFault" message="tns:IEAPI_Pricing_HideFaultDetailsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Availability">
      <wsdl:input wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/Availability" message="tns:IEAPI_Availability_InputMessage" />
      <wsdl:output wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/AvailabilityResponse" message="tns:IEAPI_Availability_OutputMessage" />
      <wsdl:fault wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/AvailabilityHideFaultDetailsFault" name="HideFaultDetailsFault" message="tns:IEAPI_Availability_HideFaultDetailsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchMktLocations">
      <wsdl:input wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/FetchMktLocations" message="tns:IEAPI_FetchMktLocations_InputMessage" />
      <wsdl:output wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/FetchMktLocationsResponse" message="tns:IEAPI_FetchMktLocations_OutputMessage" />
      <wsdl:fault wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/FetchMktLocationsHideFaultDetailsFault" name="HideFaultDetailsFault" message="tns:IEAPI_FetchMktLocations_HideFaultDetailsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="FetchMktLocationsMkt">
      <wsdl:input wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/FetchMktLocationsMkt" message="tns:IEAPI_FetchMktLocationsMkt_InputMessage" />
      <wsdl:output wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/FetchMktLocationsMktResponse" message="tns:IEAPI_FetchMktLocationsMkt_OutputMessage" />
      <wsdl:fault wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/FetchMktLocationsMktHideFaultDetailsFault" name="HideFaultDetailsFault" message="tns:IEAPI_FetchMktLocationsMkt_HideFaultDetailsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Countries">
      <wsdl:input wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/Countries" message="tns:IEAPI_Countries_InputMessage" />
      <wsdl:output wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/CountriesResponse" message="tns:IEAPI_Countries_OutputMessage" />
      <wsdl:fault wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/CountriesHideFaultDetailsFault" name="HideFaultDetailsFault" message="tns:IEAPI_Countries_HideFaultDetailsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="States">
      <wsdl:input wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/States" message="tns:IEAPI_States_InputMessage" />
      <wsdl:output wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/StatesResponse" message="tns:IEAPI_States_OutputMessage" />
      <wsdl:fault wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/StatesHideFaultDetailsFault" name="HideFaultDetailsFault" message="tns:IEAPI_States_HideFaultDetailsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Cities">
      <wsdl:input wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/Cities" message="tns:IEAPI_Cities_InputMessage" />
      <wsdl:output wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/CitiesResponse" message="tns:IEAPI_Cities_OutputMessage" />
      <wsdl:fault wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/CitiesHideFaultDetailsFault" name="HideFaultDetailsFault" message="tns:IEAPI_Cities_HideFaultDetailsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="MethodsOfPayment">
      <wsdl:input wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/MethodsOfPayment" message="tns:IEAPI_MethodsOfPayment_InputMessage" />
      <wsdl:output wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/MethodsOfPaymentResponse" message="tns:IEAPI_MethodsOfPayment_OutputMessage" />
      <wsdl:fault wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/MethodsOfPaymentHideFaultDetailsFault" name="HideFaultDetailsFault" message="tns:IEAPI_MethodsOfPayment_HideFaultDetailsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="MarketingCodes">
      <wsdl:input wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/MarketingCodes" message="tns:IEAPI_MarketingCodes_InputMessage" />
      <wsdl:output wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/MarketingCodesResponse" message="tns:IEAPI_MarketingCodes_OutputMessage" />
      <wsdl:fault wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/MarketingCodesHideFaultDetailsFault" name="HideFaultDetailsFault" message="tns:IEAPI_MarketingCodes_HideFaultDetailsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Contacts">
      <wsdl:input wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/Contacts" message="tns:IEAPI_Contacts_InputMessage" />
      <wsdl:output wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/ContactsResponse" message="tns:IEAPI_Contacts_OutputMessage" />
      <wsdl:fault wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/ContactsHideFaultDetailsFault" name="HideFaultDetailsFault" message="tns:IEAPI_Contacts_HideFaultDetailsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Captcha">
      <wsdl:input wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/Captcha" message="tns:IEAPI_Captcha_InputMessage" />
      <wsdl:output wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/CaptchaResponse" message="tns:IEAPI_Captcha_OutputMessage" />
      <wsdl:fault wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/CaptchaHideFaultDetailsFault" name="HideFaultDetailsFault" message="tns:IEAPI_Captcha_HideFaultDetailsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Select">
      <wsdl:input wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/Select" message="tns:IEAPI_Select_InputMessage" />
      <wsdl:output wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/SelectResponse" message="tns:IEAPI_Select_OutputMessage" />
      <wsdl:fault wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/SelectHideFaultDetailsFault" name="HideFaultDetailsFault" message="tns:IEAPI_Select_HideFaultDetailsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectNext">
      <wsdl:input wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/SelectNext" message="tns:IEAPI_SelectNext_InputMessage" />
      <wsdl:output wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/SelectNextResponse" message="tns:IEAPI_SelectNext_OutputMessage" />
      <wsdl:fault wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/SelectNextHideFaultDetailsFault" name="HideFaultDetailsFault" message="tns:IEAPI_SelectNext_HideFaultDetailsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SelectSpecific">
      <wsdl:input wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/SelectSpecific" message="tns:IEAPI_SelectSpecific_InputMessage" />
      <wsdl:output wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/SelectSpecificResponse" message="tns:IEAPI_SelectSpecific_OutputMessage" />
      <wsdl:fault wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/SelectSpecificHideFaultDetailsFault" name="HideFaultDetailsFault" message="tns:IEAPI_SelectSpecific_HideFaultDetailsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="SetCustomerData">
      <wsdl:input wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/SetCustomerData" message="tns:IEAPI_SetCustomerData_InputMessage" />
      <wsdl:output wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/SetCustomerDataResponse" message="tns:IEAPI_SetCustomerData_OutputMessage" />
      <wsdl:fault wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/SetCustomerDataHideFaultDetailsFault" name="HideFaultDetailsFault" message="tns:IEAPI_SetCustomerData_HideFaultDetailsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Buy_MultiplePayment">
      <wsdl:input wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/Buy_MultiplePayment" message="tns:IEAPI_Buy_MultiplePayment_InputMessage" />
      <wsdl:output wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/Buy_MultiplePaymentResponse" message="tns:IEAPI_Buy_MultiplePayment_OutputMessage" />
      <wsdl:fault wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/Buy_MultiplePaymentHideFaultDetailsFault" name="HideFaultDetailsFault" message="tns:IEAPI_Buy_MultiplePayment_HideFaultDetailsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Buy">
      <wsdl:input wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/Buy" message="tns:IEAPI_Buy_InputMessage" />
      <wsdl:output wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/BuyResponse" message="tns:IEAPI_Buy_OutputMessage" />
      <wsdl:fault wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/BuyHideFaultDetailsFault" name="HideFaultDetailsFault" message="tns:IEAPI_Buy_HideFaultDetailsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="HoldToStatus">
      <wsdl:input wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/HoldToStatus" message="tns:IEAPI_HoldToStatus_InputMessage" />
      <wsdl:output wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/HoldToStatusResponse" message="tns:IEAPI_HoldToStatus_OutputMessage" />
      <wsdl:fault wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/HoldToStatusHideFaultDetailsFault" name="HideFaultDetailsFault" message="tns:IEAPI_HoldToStatus_HideFaultDetailsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExtendTime">
      <wsdl:input wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/ExtendTime" message="tns:IEAPI_ExtendTime_InputMessage" />
      <wsdl:output wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/ExtendTimeResponse" message="tns:IEAPI_ExtendTime_OutputMessage" />
      <wsdl:fault wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/ExtendTimeHideFaultDetailsFault" name="HideFaultDetailsFault" message="tns:IEAPI_ExtendTime_HideFaultDetailsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddReward">
      <wsdl:input wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/AddReward" message="tns:IEAPI_AddReward_InputMessage" />
      <wsdl:output wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/AddRewardResponse" message="tns:IEAPI_AddReward_OutputMessage" />
      <wsdl:fault wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/AddRewardHideFaultDetailsFault" name="HideFaultDetailsFault" message="tns:IEAPI_AddReward_HideFaultDetailsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReturnOrder">
      <wsdl:input wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/ReturnOrder" message="tns:IEAPI_ReturnOrder_InputMessage" />
      <wsdl:output wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/ReturnOrderResponse" message="tns:IEAPI_ReturnOrder_OutputMessage" />
      <wsdl:fault wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/ReturnOrderHideFaultDetailsFault" name="HideFaultDetailsFault" message="tns:IEAPI_ReturnOrder_HideFaultDetailsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Config">
      <wsdl:input wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/Config" message="tns:IEAPI_Config_InputMessage" />
      <wsdl:output wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/ConfigResponse" message="tns:IEAPI_Config_OutputMessage" />
      <wsdl:fault wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/ConfigHideFaultDetailsFault" name="HideFaultDetailsFault" message="tns:IEAPI_Config_HideFaultDetailsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="VerifyAccount">
      <wsdl:input wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/VerifyAccount" message="tns:IEAPI_VerifyAccount_InputMessage" />
      <wsdl:output wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/VerifyAccountResponse" message="tns:IEAPI_VerifyAccount_OutputMessage" />
      <wsdl:fault wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/VerifyAccountHideFaultDetailsFault" name="HideFaultDetailsFault" message="tns:IEAPI_VerifyAccount_HideFaultDetailsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="OrderSeatingInfo">
      <wsdl:input wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/OrderSeatingInfo" message="tns:IEAPI_OrderSeatingInfo_InputMessage" />
      <wsdl:output wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/OrderSeatingInfoResponse" message="tns:IEAPI_OrderSeatingInfo_OutputMessage" />
      <wsdl:fault wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/OrderSeatingInfoHideFaultDetailsFault" name="HideFaultDetailsFault" message="tns:IEAPI_OrderSeatingInfo_HideFaultDetailsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="Tickets">
      <wsdl:input wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/Tickets" message="tns:IEAPI_Tickets_InputMessage" />
      <wsdl:output wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/TicketsResponse" message="tns:IEAPI_Tickets_OutputMessage" />
      <wsdl:fault wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/TicketsHideFaultDetailsFault" name="HideFaultDetailsFault" message="tns:IEAPI_Tickets_HideFaultDetailsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="PDFTickets">
      <wsdl:input wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/PDFTickets" message="tns:IEAPI_PDFTickets_InputMessage" />
      <wsdl:output wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/PDFTicketsResponse" message="tns:IEAPI_PDFTickets_OutputMessage" />
      <wsdl:fault wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/PDFTicketsHideFaultDetailsFault" name="HideFaultDetailsFault" message="tns:IEAPI_PDFTickets_HideFaultDetailsFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="KioskImages">
      <wsdl:input wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/KioskImages" message="tns:IEAPI_KioskImages_InputMessage" />
      <wsdl:output wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/KioskImagesResponse" message="tns:IEAPI_KioskImages_OutputMessage" />
      <wsdl:fault wsaw:Action="TelechargeEAPI/EAPI/2013/04/IEAPI/KioskImagesHideFaultDetailsFault" name="HideFaultDetailsFault" message="tns:IEAPI_KioskImages_HideFaultDetailsFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>