SQLTestAdapter/Connected Services/EAPIServiceReference/EAPI13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2016/07/Shubert.EApiWS.DataTransferObjects.Filters" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2016/07/Shubert.EApiWS.DataTransferObjects.Filters" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://geapi.dqtelecharge.com/EAPI.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/Shubert.EApiWS.DataTransferObjects.Data" />
  <xs:import schemaLocation="https://geapi.dqtelecharge.com/EAPI.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/Shubert.EApiWS.DataTransferObjects.Filters" />
  <xs:import schemaLocation="https://geapi.dqtelecharge.com/EAPI.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/Shubert.Ticketing" />
  <xs:complexType name="CustomerDataFilter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Shubert.EApiWS.DataTransferObjects.Filters" base="q1:BaseFilter">
        <xs:sequence>
          <xs:element name="EapiShowId" nillable="true" type="xs:string" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/Shubert.EApiWS.DataTransferObjects.Data" minOccurs="0" name="Customer" nillable="true" type="q2:CustomerDetails" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/Shubert.EApiWS.DataTransferObjects.Data" minOccurs="0" name="Passenger" nillable="true" type="q3:PassengerDetails" />
          <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Shubert.EApiWS.DataTransferObjects.Data" minOccurs="0" name="Delivery" nillable="true" type="q4:DeliveryDetails" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CustomerDataFilter" nillable="true" type="tns:CustomerDataFilter" />
  <xs:complexType name="BuyFilter">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/Shubert.EApiWS.DataTransferObjects.Filters" base="q5:BaseFilter">
        <xs:sequence>
          <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Shubert.EApiWS.DataTransferObjects.Data" minOccurs="0" name="Customer" nillable="true" type="q6:CustomerDetails" />
          <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Shubert.EApiWS.DataTransferObjects.Data" minOccurs="0" name="Delivery" nillable="true" type="q7:DeliveryDetails" />
          <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/Shubert.EApiWS.DataTransferObjects.Data" minOccurs="0" name="Passenger" nillable="true" type="q8:PassengerDetails" />
          <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/Shubert.EApiWS.DataTransferObjects.Data" name="Payment" nillable="true" type="q9:ArrayOfPaymentDetails" />
          <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/Shubert.EApiWS.DataTransferObjects.Data" minOccurs="0" name="Selection" nillable="true" type="q10:SelectionDetails" />
          <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/Shubert.Ticketing" minOccurs="0" name="SpecialSettings" nillable="true" type="q11:BuyOC.BUY_WebInfoStruct" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="BuyFilter" nillable="true" type="tns:BuyFilter" />
</xs:schema>