SQLTestAdapter/Connected Services/EAPIServiceReference/EAPI.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Shubert.Ticketing" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Shubert.Ticketing" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://geapi.dqtelecharge.com/EAPI.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="ArrayOfInquire.INQUIRE_MembershipPriceCodesStruct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Inquire.INQUIRE_MembershipPriceCodesStruct" type="tns:Inquire.INQUIRE_MembershipPriceCodesStruct" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInquire.INQUIRE_MembershipPriceCodesStruct" nillable="true" type="tns:ArrayOfInquire.INQUIRE_MembershipPriceCodesStruct" />
  <xs:complexType name="Inquire.INQUIRE_MembershipPriceCodesStruct">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="membershipNumber" nillable="true" type="xs:string" />
      <xs:element name="personID" nillable="true" type="xs:int" />
      <xs:element name="priceCode" nillable="true" type="xs:string" />
      <xs:element name="priceCodeQty" nillable="true" type="xs:int" />
      <xs:element name="purchaserID" nillable="true" type="xs:int" />
      <xs:element name="seatStatus" nillable="true" type="xs:string" />
      <xs:element name="seatStream" nillable="true" type="xs:string" />
      <xs:element name="supplierID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Inquire.INQUIRE_MembershipPriceCodesStruct" nillable="true" type="tns:Inquire.INQUIRE_MembershipPriceCodesStruct" />
  <xs:complexType name="ArrayOfInquire.INQUIRE_SeatStruct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Inquire.INQUIRE_SeatStruct" type="tns:Inquire.INQUIRE_SeatStruct" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfInquire.INQUIRE_SeatStruct" nillable="true" type="tns:ArrayOfInquire.INQUIRE_SeatStruct" />
  <xs:complexType name="Inquire.INQUIRE_SeatStruct">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="area" nillable="true" type="xs:string" />
      <xs:element name="highSeatNumber" nillable="true" type="xs:int" />
      <xs:element name="lowSeatNumber" nillable="true" type="xs:int" />
      <xs:element name="numTix" nillable="true" type="xs:int" />
      <xs:element name="priceCode" nillable="true" type="xs:string" />
      <xs:element name="priceSet" nillable="true" type="xs:int" />
      <xs:element name="row" nillable="true" type="xs:string" />
      <xs:element name="seatStatus" nillable="true" type="xs:string" />
      <xs:element name="section" nillable="true" type="xs:string" />
      <xs:element name="zoneID" nillable="true" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Inquire.INQUIRE_SeatStruct" nillable="true" type="tns:Inquire.INQUIRE_SeatStruct" />
  <xs:complexType name="BuyOC.BUY_WebInfoStruct">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="IsUniversalPublix" type="xs:boolean" />
      <xs:element name="PAC" nillable="true" type="xs:string" />
      <xs:element name="VoucherMOD" nillable="true" type="xs:string" />
      <xs:element name="VoucherMOP" nillable="true" type="xs:string" />
      <xs:element name="amexEmailAddress" nillable="true" type="xs:string" />
      <xs:element name="bookingRef" nillable="true" type="xs:string" />
      <xs:element name="brandID" nillable="true" type="xs:string" />
      <xs:element name="cbSignUpOption" type="xs:boolean" />
      <xs:element name="clientTrackID" nillable="true" type="xs:string" />
      <xs:element name="costcoCode" nillable="true" type="xs:string" />
      <xs:element name="costcoTicketmasterTrackingCode" nillable="true" type="xs:string" />
      <xs:element name="guestName" nillable="true" type="xs:string" />
      <xs:element name="localInformation" nillable="true" type="xs:string" />
      <xs:element name="mobileOrder" nillable="true" type="xs:string" />
      <xs:element name="orgName" nillable="true" type="xs:string" />
      <xs:element name="promoCode" nillable="true" type="xs:string" />
      <xs:element name="saleProgramID" nillable="true" type="xs:string" />
      <xs:element name="sourceAppName" nillable="true" type="xs:string" />
      <xs:element name="sourceAppVersion" nillable="true" type="xs:string" />
      <xs:element name="starLiteOrderNumber" nillable="true" type="xs:string" />
      <xs:element name="taxExemptID" nillable="true" type="xs:string" />
      <xs:element name="trackingCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BuyOC.BUY_WebInfoStruct" nillable="true" type="tns:BuyOC.BUY_WebInfoStruct" />
</xs:schema>