SQLTestAdapter/Connected Services/EAPIServiceReference/EAPI7.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Shubert.EApiWS.DataTransferObjects" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Shubert.EApiWS.DataTransferObjects" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfNonPerformanceProduct">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NonPerformanceProduct" nillable="true" type="tns:NonPerformanceProduct" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNonPerformanceProduct" nillable="true" type="tns:ArrayOfNonPerformanceProduct" />
  <xs:complexType name="NonPerformanceProduct">
    <xs:sequence>
      <xs:element minOccurs="0" name="EapiShowId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NameAlpha" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ProductTypeName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MinimumAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="MaximumAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="CityCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VenueName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VenueNameAlpha" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AreaCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TypeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SystemShowId" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SystemName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="NonPerformanceProduct" nillable="true" type="tns:NonPerformanceProduct" />
  <xs:complexType name="BaseDetail">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="BaseDetail" nillable="true" type="tns:BaseDetail" />
</xs:schema>