SQLTestAdapter/Connected Services/EAPIServiceReference/EAPI11.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Shubert.EApiWS.TicketingSystems.TelechargeAdapterHelpers" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Shubert.EApiWS.TicketingSystems.TelechargeAdapterHelpers" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="BuyResponse">
    <xs:sequence>
      <xs:element name="coreservicesField" nillable="true" type="tns:responseCoreservices" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BuyResponse" nillable="true" type="tns:BuyResponse" />
  <xs:complexType name="responseCoreservices">
    <xs:sequence>
      <xs:element name="buy_responseField" nillable="true" type="tns:responseCoreservicesBuy_response" />
      <xs:element name="inquire_responseField" nillable="true" type="tns:responseCoreservicesInquire_response" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservices" nillable="true" type="tns:responseCoreservices" />
  <xs:complexType name="responseCoreservicesBuy_response">
    <xs:sequence>
      <xs:element name="buyField" nillable="true" type="tns:responseCoreservicesBuy_responseBuy" />
      <xs:element name="email_formatField" nillable="true" type="tns:responseCoreservicesBuy_responseEmail_format" />
      <xs:element name="email_promoField" nillable="true" type="tns:responseCoreservicesBuy_responseEmail_promo" />
      <xs:element name="local_infoField" nillable="true" type="tns:responseCoreservicesBuy_responseLocal_info" />
      <xs:element name="log_ipField" nillable="true" type="tns:responseCoreservicesBuy_responseLog_ip" />
      <xs:element name="order_completeField" nillable="true" type="tns:responseCoreservicesBuy_responseOrder_complete" />
      <xs:element name="sales_infoField" nillable="true" type="tns:responseCoreservicesBuy_responseSales_info" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesBuy_response" nillable="true" type="tns:responseCoreservicesBuy_response" />
  <xs:complexType name="responseCoreservicesBuy_responseBuy">
    <xs:sequence>
      <xs:element name="buyres1_blkField" nillable="true" type="tns:responseCoreservicesBuy_responseBuyBuyres1_blk" />
      <xs:element name="client_info_blkField" nillable="true" type="tns:responseCoreservicesBuy_responseBuyClient_info_blk" />
      <xs:element name="confirmation_blkField" nillable="true" type="tns:responseCoreservicesBuy_responseBuyConfirmation_blk" />
      <xs:element name="inqres1_blkField" nillable="true" type="tns:responseCoreservicesBuy_responseBuyInqres1_blk" />
      <xs:element name="inqres2_blkField" nillable="true" type="tns:responseCoreservicesBuy_responseBuyInqres2_blk" />
      <xs:element name="inqres2m_blkField" nillable="true" type="tns:responseCoreservicesBuy_responseBuyInqres2m_blk" />
      <xs:element name="inqres3_blkField" nillable="true" type="tns:responseCoreservicesBuy_responseBuyInqres3_blk" />
      <xs:element name="inqres4_blkField" nillable="true" type="tns:responseCoreservicesBuy_responseBuyInqres4_blk" />
      <xs:element name="inqres5_blkField" nillable="true" type="tns:responseCoreservicesBuy_responseBuyInqres5_blk" />
      <xs:element name="inqres7_blkField" nillable="true" type="tns:responseCoreservicesBuy_responseBuyInqres7_blk" />
      <xs:element name="inqres8_scrl_blkField" nillable="true" type="tns:responseCoreservicesBuy_responseBuyInqres8_scrl_blk" />
      <xs:element name="inqres9_scrl_blkField" nillable="true" type="tns:responseCoreservicesBuy_responseBuyInqres9_scrl_blk" />
      <xs:element name="server_info_blkField" nillable="true" type="tns:responseCoreservicesBuy_responseBuyServer_info_blk" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesBuy_responseBuy" nillable="true" type="tns:responseCoreservicesBuy_responseBuy" />
  <xs:complexType name="responseCoreservicesBuy_responseBuyBuyres1_blk">
    <xs:sequence>
      <xs:element name="buyres1_gift_card_numberField" nillable="true" type="xs:string" />
      <xs:element name="buyres1_gift_card_number_encryptedField" nillable="true" type="xs:string" />
      <xs:element name="buyres1_ord_nam_numField" nillable="true" type="xs:string" />
      <xs:element name="buyres1_order_amt_totalField" nillable="true" type="xs:string" />
      <xs:element name="buyres1_order_numberField" nillable="true" type="xs:string" />
      <xs:element name="buyres1_order_tix_totalField" nillable="true" type="xs:string" />
      <xs:element name="buyres1_order_trans_totalField" nillable="true" type="xs:string" />
      <xs:element name="buyres1_pymt_numField" nillable="true" type="xs:string" />
      <xs:element name="buyres1_tix_tran_numField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesBuy_responseBuyBuyres1_blk" nillable="true" type="tns:responseCoreservicesBuy_responseBuyBuyres1_blk" />
  <xs:complexType name="responseCoreservicesBuy_responseBuyClient_info_blk">
    <xs:sequence>
      <xs:element name="client_info_begin_timeField" nillable="true" type="xs:string" />
      <xs:element name="client_info_boca_kindField" nillable="true" type="xs:string" />
      <xs:element name="client_info_client_build_dateField" nillable="true" type="xs:string" />
      <xs:element name="client_info_client_compatibility_idField" nillable="true" type="xs:string" />
      <xs:element name="client_info_client_idField" nillable="true" type="xs:string" />
      <xs:element name="client_info_client_versionField" nillable="true" type="xs:string" />
      <xs:element name="client_info_color_paletteField" nillable="true" type="xs:string" />
      <xs:element name="client_info_cr_queField" nillable="true" type="xs:string" />
      <xs:element name="client_info_cr_serverField" nillable="true" type="xs:string" />
      <xs:element name="client_info_crm_trackField" nillable="true" type="xs:string" />
      <xs:element name="client_info_func_codeField" nillable="true" type="xs:string" />
      <xs:element name="client_info_func_qualField" nillable="true" type="xs:string" />
      <xs:element name="client_info_ingrian_encryptedField" nillable="true" type="xs:string" />
      <xs:element name="client_info_ipField" nillable="true" type="xs:string" />
      <xs:element name="client_info_loc_codeField" nillable="true" type="xs:string" />
      <xs:element name="client_info_oper_o_ac_messField" nillable="true" type="xs:string" />
      <xs:element name="client_info_operator_idField" nillable="true" type="xs:string" />
      <xs:element name="client_info_os_infoField" nillable="true" type="xs:string" />
      <xs:element name="client_info_os_typeField" nillable="true" type="xs:string" />
      <xs:element name="client_info_os_type_exField" nillable="true" type="xs:string" />
      <xs:element name="client_info_reply_queField" nillable="true" type="xs:string" />
      <xs:element name="client_info_schd_sys_seq_idField" nillable="true" type="xs:string" />
      <xs:element name="client_info_scheduled_requestField" nillable="true" type="xs:string" />
      <xs:element name="client_info_seq_msg_typeField" nillable="true" type="xs:string" />
      <xs:element name="client_info_stargate_queField" nillable="true" type="xs:string" />
      <xs:element name="client_info_tcpsockField" nillable="true" type="xs:string" />
      <xs:element name="client_info_tran_idField" nillable="true" type="xs:string" />
      <xs:element name="client_info_tran_msg_typeField" nillable="true" type="xs:string" />
      <xs:element name="client_info_tran_seqField" nillable="true" type="xs:string" />
      <xs:element name="client_info_unit_codeField" nillable="true" type="xs:string" />
      <xs:element name="client_info_web_requestField" nillable="true" type="xs:string" />
      <xs:element name="client_info_web_server_ipField" nillable="true" type="xs:string" />
      <xs:element name="client_info_web_sessionField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesBuy_responseBuyClient_info_blk" nillable="true" type="tns:responseCoreservicesBuy_responseBuyClient_info_blk" />
  <xs:complexType name="responseCoreservicesBuy_responseBuyConfirmation_blk">
    <xs:sequence>
      <xs:element name="confirmation_audit_dataField" nillable="true" type="xs:string" />
      <xs:element name="confirmation_audit_headerField" nillable="true" type="xs:string" />
      <xs:element name="confirmation_audit_ttnField" nillable="true" type="xs:string" />
      <xs:element name="confirmation_branchField" nillable="true" type="xs:string" />
      <xs:element name="confirmation_msg_dataField" nillable="true" type="xs:string" />
      <xs:element name="confirmation_typeField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesBuy_responseBuyConfirmation_blk" nillable="true" type="tns:responseCoreservicesBuy_responseBuyConfirmation_blk" />
  <xs:complexType name="responseCoreservicesBuy_responseBuyInqres1_blk">
    <xs:sequence>
      <xs:element name="inqres1_amex_seatingField" nillable="true" type="xs:string" />
      <xs:element name="inqres1_different_choiceField" nillable="true" type="xs:string" />
      <xs:element name="inqres1_e_currencyField" nillable="true" type="xs:string" />
      <xs:element name="inqres1_e_daylitsavField" nillable="true" type="xs:string" />
      <xs:element name="inqres1_e_event_codField" nillable="true" type="xs:string" />
      <xs:element name="inqres1_e_event_namField" nillable="true" type="xs:string" />
      <xs:element name="inqres1_e_evt_veri_reqField" nillable="true" type="xs:string" />
      <xs:element name="inqres1_e_fac_nameField" nillable="true" type="xs:string" />
      <xs:element name="inqres1_e_get_local_addField" nillable="true" type="xs:string" />
      <xs:element name="inqres1_e_sts_flagField" nillable="true" type="xs:string" />
      <xs:element name="inqres1_e_time_zoneField" nillable="true" type="xs:string" />
      <xs:element name="inqres1_e_venue_nameField" nillable="true" type="xs:string" />
      <xs:element name="inqres1_es_descriptionField" nillable="true" type="xs:string" />
      <xs:element name="inqres1_es_prod_idField" nillable="true" type="xs:string" />
      <xs:element name="inqres1_mkt_alt_statField" nillable="true" type="xs:string" />
      <xs:element name="inqres1_mkt_evt_memoField" nillable="true" type="xs:string" />
      <xs:element name="inqres1_mkt_prf_memoField" nillable="true" type="xs:string" />
      <xs:element name="inqres1_modField" nillable="true" type="xs:string" />
      <xs:element name="inqres1_msg_evt_ctlField" nillable="true" type="xs:string" />
      <xs:element name="inqres1_msg_pc_ctlField" nillable="true" type="xs:string" />
      <xs:element name="inqres1_msg_prf_ctlField" nillable="true" type="xs:string" />
      <xs:element name="inqres1_msg_zone_ctlField" nillable="true" type="xs:string" />
      <xs:element name="inqres1_order_numField" nillable="true" type="xs:string" />
      <xs:element name="inqres1_p_levelsField" nillable="true" type="xs:string" />
      <xs:element name="inqres1_p_obsv_msgField" nillable="true" type="xs:string" />
      <xs:element name="inqres1_p_perf_dateField" nillable="true" type="xs:string" />
      <xs:element name="inqres1_p_prf_dowField" nillable="true" type="xs:string" />
      <xs:element name="inqres1_p_prf_nameField" nillable="true" type="xs:string" />
      <xs:element name="inqres1_p_prf_real_timeField" nillable="true" type="xs:string" />
      <xs:element name="inqres1_p_prf_timeField" nillable="true" type="xs:string" />
      <xs:element name="inqres1_p_prf_typeField" nillable="true" type="xs:string" />
      <xs:element name="inqres1_p_prf_xtimeField" nillable="true" type="xs:string" />
      <xs:element name="inqres1_p_prod_idField" nillable="true" type="xs:string" />
      <xs:element name="inqres1_premium_foundField" nillable="true" type="xs:string" />
      <xs:element name="inqres1_premium_perf_dateField" nillable="true" type="xs:string" />
      <xs:element name="inqres1_premium_prf_typeField" nillable="true" type="xs:string" />
      <xs:element name="inqres1_resv_non_spec_statField" nillable="true" type="xs:string" />
      <xs:element name="inqres1_resv_spec_statField" nillable="true" type="xs:string" />
      <xs:element name="inqres1_screenField" nillable="true" type="xs:string" />
      <xs:element name="inqres1_slre_cnfrm_splitField" nillable="true" type="xs:string" />
      <xs:element name="inqres1_so_altField" nillable="true" type="xs:string" />
      <xs:element name="inqres1_ssn_plannamField" nillable="true" type="xs:string" />
      <xs:element name="inqres1_ssn_plannoField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesBuy_responseBuyInqres1_blk" nillable="true" type="tns:responseCoreservicesBuy_responseBuyInqres1_blk" />
  <xs:complexType name="responseCoreservicesBuy_responseBuyInqres2_blk">
    <xs:sequence>
      <xs:element name="inqres2_scrlField" nillable="true" type="tns:responseCoreservicesBuy_responseBuyInqres2_blkInqres2_scrl" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesBuy_responseBuyInqres2_blk" nillable="true" type="tns:responseCoreservicesBuy_responseBuyInqres2_blk" />
  <xs:complexType name="responseCoreservicesBuy_responseBuyInqres2_blkInqres2_scrl">
    <xs:sequence>
      <xs:element name="rowField" nillable="true" type="tns:ArrayOfresponseCoreservicesBuy_responseBuyInqres2_blkInqres2_scrlRow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesBuy_responseBuyInqres2_blkInqres2_scrl" nillable="true" type="tns:responseCoreservicesBuy_responseBuyInqres2_blkInqres2_scrl" />
  <xs:complexType name="ArrayOfresponseCoreservicesBuy_responseBuyInqres2_blkInqres2_scrlRow">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="responseCoreservicesBuy_responseBuyInqres2_blkInqres2_scrlRow" nillable="true" type="tns:responseCoreservicesBuy_responseBuyInqres2_blkInqres2_scrlRow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfresponseCoreservicesBuy_responseBuyInqres2_blkInqres2_scrlRow" nillable="true" type="tns:ArrayOfresponseCoreservicesBuy_responseBuyInqres2_blkInqres2_scrlRow" />
  <xs:complexType name="responseCoreservicesBuy_responseBuyInqres2_blkInqres2_scrlRow">
    <xs:sequence>
      <xs:element name="inqres2_scrl_ancil_amtField" nillable="true" type="xs:string" />
      <xs:element name="inqres2_scrl_ancil_nm20Field" nillable="true" type="xs:string" />
      <xs:element name="inqres2_scrl_estab_pceField" nillable="true" type="xs:string" />
      <xs:element name="inqres2_scrl_included_ancil_amtField" nillable="true" type="xs:string" />
      <xs:element name="inqres2_scrl_inq_ref_numField" nillable="true" type="xs:string" />
      <xs:element name="inqres2_scrl_num_tixField" nillable="true" type="xs:string" />
      <xs:element name="inqres2_scrl_tax_amtField" nillable="true" type="xs:string" />
      <xs:element name="inqres2_scrl_tix_oshrField" nillable="true" type="xs:string" />
      <xs:element name="inqres2_scrl_tix_scgField" nillable="true" type="xs:string" />
      <xs:element name="inqres2_scrl_tot_costField" nillable="true" type="xs:string" />
      <xs:element name="inqres2_scrl_tot_pceField" nillable="true" type="xs:string" />
      <xs:element name="inqres2_scrl_tot_scgField" nillable="true" type="xs:string" />
      <xs:element name="inqres2_scrl_tot_tix_amtField" nillable="true" type="xs:string" />
      <xs:element name="inqres2_scrl_trn_oshrField" nillable="true" type="xs:string" />
      <xs:element name="inqres2_scrl_trn_scgField" nillable="true" type="xs:string" />
      <xs:element name="inqres2_scrl_use_ancil_nm20Field" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesBuy_responseBuyInqres2_blkInqres2_scrlRow" nillable="true" type="tns:responseCoreservicesBuy_responseBuyInqres2_blkInqres2_scrlRow" />
  <xs:complexType name="responseCoreservicesBuy_responseBuyInqres2m_blk">
    <xs:sequence>
      <xs:element name="inqres2m_scrlField" nillable="true" type="tns:responseCoreservicesBuy_responseBuyInqres2m_blkInqres2m_scrl" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesBuy_responseBuyInqres2m_blk" nillable="true" type="tns:responseCoreservicesBuy_responseBuyInqres2m_blk" />
  <xs:complexType name="responseCoreservicesBuy_responseBuyInqres2m_blkInqres2m_scrl">
    <xs:sequence>
      <xs:element name="rowField" nillable="true" type="tns:responseCoreservicesBuy_responseBuyInqres2m_blkInqres2m_scrlRow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesBuy_responseBuyInqres2m_blkInqres2m_scrl" nillable="true" type="tns:responseCoreservicesBuy_responseBuyInqres2m_blkInqres2m_scrl" />
  <xs:complexType name="responseCoreservicesBuy_responseBuyInqres2m_blkInqres2m_scrlRow">
    <xs:sequence>
      <xs:element name="inqres2m_scrl_amtField" nillable="true" type="xs:string" />
      <xs:element name="inqres2m_scrl_inq_ref_numField" nillable="true" type="xs:string" />
      <xs:element name="inqres2m_scrl_mopField" nillable="true" type="xs:string" />
      <xs:element name="inqres2m_scrl_mop_namField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesBuy_responseBuyInqres2m_blkInqres2m_scrlRow" nillable="true" type="tns:responseCoreservicesBuy_responseBuyInqres2m_blkInqres2m_scrlRow" />
  <xs:complexType name="responseCoreservicesBuy_responseBuyInqres3_blk">
    <xs:sequence>
      <xs:element name="inqres3_scrlField" nillable="true" type="tns:responseCoreservicesBuy_responseBuyInqres3_blkInqres3_scrl" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesBuy_responseBuyInqres3_blk" nillable="true" type="tns:responseCoreservicesBuy_responseBuyInqres3_blk" />
  <xs:complexType name="responseCoreservicesBuy_responseBuyInqres3_blkInqres3_scrl">
    <xs:sequence>
      <xs:element name="rowField" nillable="true" type="tns:ArrayOfresponseCoreservicesBuy_responseBuyInqres3_blkInqres3_scrlRow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesBuy_responseBuyInqres3_blkInqres3_scrl" nillable="true" type="tns:responseCoreservicesBuy_responseBuyInqres3_blkInqres3_scrl" />
  <xs:complexType name="ArrayOfresponseCoreservicesBuy_responseBuyInqres3_blkInqres3_scrlRow">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="responseCoreservicesBuy_responseBuyInqres3_blkInqres3_scrlRow" nillable="true" type="tns:responseCoreservicesBuy_responseBuyInqres3_blkInqres3_scrlRow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfresponseCoreservicesBuy_responseBuyInqres3_blkInqres3_scrlRow" nillable="true" type="tns:ArrayOfresponseCoreservicesBuy_responseBuyInqres3_blkInqres3_scrlRow" />
  <xs:complexType name="responseCoreservicesBuy_responseBuyInqres3_blkInqres3_scrlRow">
    <xs:sequence>
      <xs:element name="inqres3_scrl_areaField" nillable="true" type="xs:string" />
      <xs:element name="inqres3_scrl_high_seat_locField" nillable="true" type="xs:string" />
      <xs:element name="inqres3_scrl_high_seat_numField" nillable="true" type="xs:string" />
      <xs:element name="inqres3_scrl_inq_ref_numField" nillable="true" type="xs:string" />
      <xs:element name="inqres3_scrl_low_seat_locField" nillable="true" type="xs:string" />
      <xs:element name="inqres3_scrl_low_seat_numField" nillable="true" type="xs:string" />
      <xs:element name="inqres3_scrl_num_tixField" nillable="true" type="xs:string" />
      <xs:element name="inqres3_scrl_numrowsField" nillable="true" type="xs:string" />
      <xs:element name="inqres3_scrl_price_codeField" nillable="true" type="xs:string" />
      <xs:element name="inqres3_scrl_price_setField" nillable="true" type="xs:string" />
      <xs:element name="inqres3_scrl_rowField" nillable="true" type="xs:string" />
      <xs:element name="inqres3_scrl_row_code_msgField" nillable="true" type="xs:string" />
      <xs:element name="inqres3_scrl_row_dist_msgField" nillable="true" type="xs:string" />
      <xs:element name="inqres3_scrl_seat_msgField" nillable="true" type="xs:string" />
      <xs:element name="inqres3_scrl_seat_statField" nillable="true" type="xs:string" />
      <xs:element name="inqres3_scrl_seat_stat_nameField" nillable="true" type="xs:string" />
      <xs:element name="inqres3_scrl_sectionField" nillable="true" type="xs:string" />
      <xs:element name="inqres3_scrl_zon_e_noField" nillable="true" type="xs:string" />
      <xs:element name="inqres3_scrl_zone_numField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesBuy_responseBuyInqres3_blkInqres3_scrlRow" nillable="true" type="tns:responseCoreservicesBuy_responseBuyInqres3_blkInqres3_scrlRow" />
  <xs:complexType name="responseCoreservicesBuy_responseBuyInqres4_blk">
    <xs:sequence>
      <xs:element name="inqres4_scrlField" nillable="true" type="tns:responseCoreservicesBuy_responseBuyInqres4_blkInqres4_scrl" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesBuy_responseBuyInqres4_blk" nillable="true" type="tns:responseCoreservicesBuy_responseBuyInqres4_blk" />
  <xs:complexType name="responseCoreservicesBuy_responseBuyInqres4_blkInqres4_scrl">
    <xs:sequence>
      <xs:element name="rowField" nillable="true" type="tns:ArrayOfresponseCoreservicesBuy_responseBuyInqres4_blkInqres4_scrlRow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesBuy_responseBuyInqres4_blkInqres4_scrl" nillable="true" type="tns:responseCoreservicesBuy_responseBuyInqres4_blkInqres4_scrl" />
  <xs:complexType name="ArrayOfresponseCoreservicesBuy_responseBuyInqres4_blkInqres4_scrlRow">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="responseCoreservicesBuy_responseBuyInqres4_blkInqres4_scrlRow" nillable="true" type="tns:responseCoreservicesBuy_responseBuyInqres4_blkInqres4_scrlRow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfresponseCoreservicesBuy_responseBuyInqres4_blkInqres4_scrlRow" nillable="true" type="tns:ArrayOfresponseCoreservicesBuy_responseBuyInqres4_blkInqres4_scrlRow" />
  <xs:complexType name="responseCoreservicesBuy_responseBuyInqres4_blkInqres4_scrlRow">
    <xs:sequence>
      <xs:element name="inqres4_scrl_inq_ref_numField" nillable="true" type="xs:string" />
      <xs:element name="inqres4_scrl_msgzone_numField" nillable="true" type="xs:string" />
      <xs:element name="inqres4_scrl_seat_incField" nillable="true" type="xs:string" />
      <xs:element name="inqres4_scrl_zon_e_levelField" nillable="true" type="xs:string" />
      <xs:element name="inqres4_scrl_zon_e_logical_levelField" nillable="true" type="xs:string" />
      <xs:element name="inqres4_scrl_zon_e_name1Field" nillable="true" type="xs:string" />
      <xs:element name="inqres4_scrl_zon_e_name2Field" nillable="true" type="xs:string" />
      <xs:element name="inqres4_scrl_zon_e_nm1useField" nillable="true" type="xs:string" />
      <xs:element name="inqres4_scrl_zon_e_nm2useField" nillable="true" type="xs:string" />
      <xs:element name="inqres4_scrl_zon_e_noField" nillable="true" type="xs:string" />
      <xs:element name="inqres4_scrl_zon_e_zontypField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesBuy_responseBuyInqres4_blkInqres4_scrlRow" nillable="true" type="tns:responseCoreservicesBuy_responseBuyInqres4_blkInqres4_scrlRow" />
  <xs:complexType name="responseCoreservicesBuy_responseBuyInqres5_blk">
    <xs:sequence>
      <xs:element name="inqres5_scrlField" nillable="true" type="tns:responseCoreservicesBuy_responseBuyInqres5_blkInqres5_scrl" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesBuy_responseBuyInqres5_blk" nillable="true" type="tns:responseCoreservicesBuy_responseBuyInqres5_blk" />
  <xs:complexType name="responseCoreservicesBuy_responseBuyInqres5_blkInqres5_scrl">
    <xs:sequence>
      <xs:element name="rowField" nillable="true" type="tns:ArrayOfresponseCoreservicesBuy_responseBuyInqres5_blkInqres5_scrlRow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesBuy_responseBuyInqres5_blkInqres5_scrl" nillable="true" type="tns:responseCoreservicesBuy_responseBuyInqres5_blkInqres5_scrl" />
  <xs:complexType name="ArrayOfresponseCoreservicesBuy_responseBuyInqres5_blkInqres5_scrlRow">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="responseCoreservicesBuy_responseBuyInqres5_blkInqres5_scrlRow" nillable="true" type="tns:responseCoreservicesBuy_responseBuyInqres5_blkInqres5_scrlRow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfresponseCoreservicesBuy_responseBuyInqres5_blkInqres5_scrlRow" nillable="true" type="tns:ArrayOfresponseCoreservicesBuy_responseBuyInqres5_blkInqres5_scrlRow" />
  <xs:complexType name="responseCoreservicesBuy_responseBuyInqres5_blkInqres5_scrlRow">
    <xs:sequence>
      <xs:element name="inqres5_scrl_ancil_nameField" nillable="true" type="xs:string" />
      <xs:element name="inqres5_scrl_ancil_nm20Field" nillable="true" type="xs:string" />
      <xs:element name="inqres5_scrl_ancil_totalField" nillable="true" type="xs:string" />
      <xs:element name="inqres5_scrl_included_ancil_amtField" nillable="true" type="xs:string" />
      <xs:element name="inqres5_scrl_inq_ref_numField" nillable="true" type="xs:string" />
      <xs:element name="inqres5_scrl_msgpc_numField" nillable="true" type="xs:string" />
      <xs:element name="inqres5_scrl_num_tixField" nillable="true" type="xs:string" />
      <xs:element name="inqres5_scrl_price_codeField" nillable="true" type="xs:string" />
      <xs:element name="inqres5_scrl_price_code_descField" nillable="true" type="xs:string" />
      <xs:element name="inqres5_scrl_price_code_nameField" nillable="true" type="xs:string" />
      <xs:element name="inqres5_scrl_price_setField" nillable="true" type="xs:string" />
      <xs:element name="inqres5_scrl_tax_nameField" nillable="true" type="xs:string" />
      <xs:element name="inqres5_scrl_tax_totalField" nillable="true" type="xs:string" />
      <xs:element name="inqres5_scrl_tix_oshrField" nillable="true" type="xs:string" />
      <xs:element name="inqres5_scrl_tix_priceField" nillable="true" type="xs:string" />
      <xs:element name="inqres5_scrl_tix_svc_chgField" nillable="true" type="xs:string" />
      <xs:element name="inqres5_scrl_tot_pceField" nillable="true" type="xs:string" />
      <xs:element name="inqres5_scrl_use_ancil_nm20Field" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesBuy_responseBuyInqres5_blkInqres5_scrlRow" nillable="true" type="tns:responseCoreservicesBuy_responseBuyInqres5_blkInqres5_scrlRow" />
  <xs:complexType name="responseCoreservicesBuy_responseBuyInqres7_blk">
    <xs:sequence>
      <xs:element name="inqres7_anc_scrlField" nillable="true" type="tns:responseCoreservicesBuy_responseBuyInqres7_blkInqres7_anc_scrl" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesBuy_responseBuyInqres7_blk" nillable="true" type="tns:responseCoreservicesBuy_responseBuyInqres7_blk" />
  <xs:complexType name="responseCoreservicesBuy_responseBuyInqres7_blkInqres7_anc_scrl">
    <xs:sequence>
      <xs:element name="rowField" nillable="true" type="tns:responseCoreservicesBuy_responseBuyInqres7_blkInqres7_anc_scrlRow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesBuy_responseBuyInqres7_blkInqres7_anc_scrl" nillable="true" type="tns:responseCoreservicesBuy_responseBuyInqres7_blkInqres7_anc_scrl" />
  <xs:complexType name="responseCoreservicesBuy_responseBuyInqres7_blkInqres7_anc_scrlRow">
    <xs:sequence>
      <xs:element name="inqres7_scrl_anc_nameField" nillable="true" type="xs:string" />
      <xs:element name="inqres7_scrl_inq_ref_numField" nillable="true" type="xs:string" />
      <xs:element name="inqres7_scrl_price_codeField" nillable="true" type="xs:string" />
      <xs:element name="inqres7_scrl_price_setField" nillable="true" type="xs:string" />
      <xs:element name="inqres7_scrl_tix_anc_amtField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesBuy_responseBuyInqres7_blkInqres7_anc_scrlRow" nillable="true" type="tns:responseCoreservicesBuy_responseBuyInqres7_blkInqres7_anc_scrlRow" />
  <xs:complexType name="responseCoreservicesBuy_responseBuyInqres8_scrl_blk">
    <xs:sequence>
      <xs:element name="inqres8_scrlField" nillable="true" type="tns:responseCoreservicesBuy_responseBuyInqres8_scrl_blkInqres8_scrl" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesBuy_responseBuyInqres8_scrl_blk" nillable="true" type="tns:responseCoreservicesBuy_responseBuyInqres8_scrl_blk" />
  <xs:complexType name="responseCoreservicesBuy_responseBuyInqres8_scrl_blkInqres8_scrl">
    <xs:sequence>
      <xs:element name="rowField" nillable="true" type="tns:ArrayOfresponseCoreservicesBuy_responseBuyInqres8_scrl_blkInqres8_scrlRow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesBuy_responseBuyInqres8_scrl_blkInqres8_scrl" nillable="true" type="tns:responseCoreservicesBuy_responseBuyInqres8_scrl_blkInqres8_scrl" />
  <xs:complexType name="ArrayOfresponseCoreservicesBuy_responseBuyInqres8_scrl_blkInqres8_scrlRow">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="responseCoreservicesBuy_responseBuyInqres8_scrl_blkInqres8_scrlRow" nillable="true" type="tns:responseCoreservicesBuy_responseBuyInqres8_scrl_blkInqres8_scrlRow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfresponseCoreservicesBuy_responseBuyInqres8_scrl_blkInqres8_scrlRow" nillable="true" type="tns:ArrayOfresponseCoreservicesBuy_responseBuyInqres8_scrl_blkInqres8_scrlRow" />
  <xs:complexType name="responseCoreservicesBuy_responseBuyInqres8_scrl_blkInqres8_scrlRow">
    <xs:sequence>
      <xs:element name="inqres8_scrl_msgevt_lnnoField" nillable="true" type="xs:string" />
      <xs:element name="inqres8_scrl_msgevt_msgField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesBuy_responseBuyInqres8_scrl_blkInqres8_scrlRow" nillable="true" type="tns:responseCoreservicesBuy_responseBuyInqres8_scrl_blkInqres8_scrlRow" />
  <xs:complexType name="responseCoreservicesBuy_responseBuyInqres9_scrl_blk">
    <xs:sequence>
      <xs:element name="inqres9_scrlField" nillable="true" type="tns:responseCoreservicesBuy_responseBuyInqres9_scrl_blkInqres9_scrl" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesBuy_responseBuyInqres9_scrl_blk" nillable="true" type="tns:responseCoreservicesBuy_responseBuyInqres9_scrl_blk" />
  <xs:complexType name="responseCoreservicesBuy_responseBuyInqres9_scrl_blkInqres9_scrl">
    <xs:sequence>
      <xs:element name="rowField" nillable="true" type="tns:responseCoreservicesBuy_responseBuyInqres9_scrl_blkInqres9_scrlRow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesBuy_responseBuyInqres9_scrl_blkInqres9_scrl" nillable="true" type="tns:responseCoreservicesBuy_responseBuyInqres9_scrl_blkInqres9_scrl" />
  <xs:complexType name="responseCoreservicesBuy_responseBuyInqres9_scrl_blkInqres9_scrlRow">
    <xs:sequence>
      <xs:element name="inqres9_scrl_member_acctField" nillable="true" type="xs:string" />
      <xs:element name="inqres9_scrl_member_first_nameField" nillable="true" type="xs:string" />
      <xs:element name="inqres9_scrl_member_last_nameField" nillable="true" type="xs:string" />
      <xs:element name="inqres9_scrl_membership_end_dateField" nillable="true" type="xs:string" />
      <xs:element name="inqres9_scrl_membership_long_nameField" nillable="true" type="xs:string" />
      <xs:element name="inqres9_scrl_num_membershipsField" nillable="true" type="xs:string" />
      <xs:element name="inqres9_scrl_num_purchasedField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesBuy_responseBuyInqres9_scrl_blkInqres9_scrlRow" nillable="true" type="tns:responseCoreservicesBuy_responseBuyInqres9_scrl_blkInqres9_scrlRow" />
  <xs:complexType name="responseCoreservicesBuy_responseBuyServer_info_blk">
    <xs:sequence>
      <xs:element name="server_info_begin_timeField" nillable="true" type="xs:string" />
      <xs:element name="server_info_reply_queField" nillable="true" type="xs:string" />
      <xs:element name="server_info_seq_idField" nillable="true" type="xs:string" />
      <xs:element name="server_info_seq_msg_typeField" nillable="true" type="xs:string" />
      <xs:element name="server_info_tran_idField" nillable="true" type="xs:string" />
      <xs:element name="server_info_tran_msg_typeField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesBuy_responseBuyServer_info_blk" nillable="true" type="tns:responseCoreservicesBuy_responseBuyServer_info_blk" />
  <xs:complexType name="responseCoreservicesBuy_responseEmail_format">
    <xs:sequence>
      <xs:element name="codeField" nillable="true" type="xs:string" />
      <xs:element name="errorField" nillable="true" type="xs:string" />
      <xs:element name="mesgField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesBuy_responseEmail_format" nillable="true" type="tns:responseCoreservicesBuy_responseEmail_format" />
  <xs:complexType name="responseCoreservicesBuy_responseEmail_promo">
    <xs:sequence>
      <xs:element name="codeField" nillable="true" type="xs:string" />
      <xs:element name="errorField" nillable="true" type="xs:string" />
      <xs:element name="mesgField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesBuy_responseEmail_promo" nillable="true" type="tns:responseCoreservicesBuy_responseEmail_promo" />
  <xs:complexType name="responseCoreservicesBuy_responseLocal_info">
    <xs:sequence>
      <xs:element name="codeField" nillable="true" type="xs:string" />
      <xs:element name="errorField" nillable="true" type="xs:string" />
      <xs:element name="mesgField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesBuy_responseLocal_info" nillable="true" type="tns:responseCoreservicesBuy_responseLocal_info" />
  <xs:complexType name="responseCoreservicesBuy_responseLog_ip">
    <xs:sequence>
      <xs:element name="codeField" nillable="true" type="xs:string" />
      <xs:element name="errorField" nillable="true" type="xs:string" />
      <xs:element name="mesgField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesBuy_responseLog_ip" nillable="true" type="tns:responseCoreservicesBuy_responseLog_ip" />
  <xs:complexType name="responseCoreservicesBuy_responseOrder_complete">
    <xs:sequence>
      <xs:element name="buyconf1_blkField" nillable="true" type="tns:responseCoreservicesBuy_responseOrder_completeBuyconf1_blk" />
      <xs:element name="client_info_blkField" nillable="true" type="tns:responseCoreservicesBuy_responseOrder_completeClient_info_blk" />
      <xs:element name="cliloctb2_blkField" nillable="true" type="tns:responseCoreservicesBuy_responseOrder_completeCliloctb2_blk" />
      <xs:element name="confirmation_blkField" nillable="true" type="tns:responseCoreservicesBuy_responseOrder_completeConfirmation_blk" />
      <xs:element name="inqbuy3_scrl_blkField" nillable="true" type="tns:responseCoreservicesBuy_responseOrder_completeInqbuy3_scrl_blk" />
      <xs:element name="inqres8_scrl_blkField" nillable="true" type="tns:responseCoreservicesBuy_responseOrder_completeInqres8_scrl_blk" />
      <xs:element name="server_info_blkField" nillable="true" type="tns:responseCoreservicesBuy_responseOrder_completeServer_info_blk" />
      <xs:element name="tb_blkField" nillable="true" type="tns:responseCoreservicesBuy_responseOrder_completeTb_blk" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesBuy_responseOrder_complete" nillable="true" type="tns:responseCoreservicesBuy_responseOrder_complete" />
  <xs:complexType name="responseCoreservicesBuy_responseOrder_completeBuyconf1_blk">
    <xs:sequence>
      <xs:element name="buyconf1_CID_codeField" nillable="true" type="xs:string" />
      <xs:element name="buyconf1_dep_auth_statusField" nillable="true" type="xs:string" />
      <xs:element name="buyconf1_dep_statusField" nillable="true" type="xs:string" />
      <xs:element name="buyconf1_gift_card_balField" nillable="true" type="xs:string" />
      <xs:element name="buyconf1_gift_card_numberField" nillable="true" type="xs:string" />
      <xs:element name="buyconf1_gift_card_number_encryptedField" nillable="true" type="xs:string" />
      <xs:element name="buyconf1_msg_evt_ctlField" nillable="true" type="xs:string" />
      <xs:element name="buyconf1_msg_pc_ctlField" nillable="true" type="xs:string" />
      <xs:element name="buyconf1_msg_prf_ctlField" nillable="true" type="xs:string" />
      <xs:element name="buyconf1_msg_zone_ctlField" nillable="true" type="xs:string" />
      <xs:element name="buyconf1_pymt_numField" nillable="true" type="xs:string" />
      <xs:element name="buyconf1_ras_msg_ctlField" nillable="true" type="xs:string" />
      <xs:element name="buyconf1_ras_response_err_msgField" nillable="true" type="xs:string" />
      <xs:element name="buyconf1_screenField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesBuy_responseOrder_completeBuyconf1_blk" nillable="true" type="tns:responseCoreservicesBuy_responseOrder_completeBuyconf1_blk" />
  <xs:complexType name="responseCoreservicesBuy_responseOrder_completeClient_info_blk">
    <xs:sequence>
      <xs:element name="client_info_begin_timeField" nillable="true" type="xs:string" />
      <xs:element name="client_info_boca_kindField" nillable="true" type="xs:string" />
      <xs:element name="client_info_client_build_dateField" nillable="true" type="xs:string" />
      <xs:element name="client_info_client_compatibility_idField" nillable="true" type="xs:string" />
      <xs:element name="client_info_client_idField" nillable="true" type="xs:string" />
      <xs:element name="client_info_client_versionField" nillable="true" type="xs:string" />
      <xs:element name="client_info_color_paletteField" nillable="true" type="xs:string" />
      <xs:element name="client_info_cr_queField" nillable="true" type="xs:string" />
      <xs:element name="client_info_cr_serverField" nillable="true" type="xs:string" />
      <xs:element name="client_info_crm_trackField" nillable="true" type="xs:string" />
      <xs:element name="client_info_func_codeField" nillable="true" type="xs:string" />
      <xs:element name="client_info_func_qualField" nillable="true" type="xs:string" />
      <xs:element name="client_info_ingrian_encryptedField" nillable="true" type="xs:string" />
      <xs:element name="client_info_ipField" nillable="true" type="xs:string" />
      <xs:element name="client_info_loc_codeField" nillable="true" type="xs:string" />
      <xs:element name="client_info_oper_o_ac_messField" nillable="true" type="xs:string" />
      <xs:element name="client_info_operator_idField" nillable="true" type="xs:string" />
      <xs:element name="client_info_os_infoField" nillable="true" type="xs:string" />
      <xs:element name="client_info_os_typeField" nillable="true" type="xs:string" />
      <xs:element name="client_info_os_type_exField" nillable="true" type="xs:string" />
      <xs:element name="client_info_reply_queField" nillable="true" type="xs:string" />
      <xs:element name="client_info_schd_sys_seq_idField" nillable="true" type="xs:string" />
      <xs:element name="client_info_scheduled_requestField" nillable="true" type="xs:string" />
      <xs:element name="client_info_seq_msg_typeField" nillable="true" type="xs:string" />
      <xs:element name="client_info_stargate_queField" nillable="true" type="xs:string" />
      <xs:element name="client_info_tcpsockField" nillable="true" type="xs:string" />
      <xs:element name="client_info_tran_idField" nillable="true" type="xs:string" />
      <xs:element name="client_info_tran_msg_typeField" nillable="true" type="xs:string" />
      <xs:element name="client_info_tran_seqField" nillable="true" type="xs:string" />
      <xs:element name="client_info_unit_codeField" nillable="true" type="xs:string" />
      <xs:element name="client_info_web_requestField" nillable="true" type="xs:string" />
      <xs:element name="client_info_web_server_ipField" nillable="true" type="xs:string" />
      <xs:element name="client_info_web_sessionField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesBuy_responseOrder_completeClient_info_blk" nillable="true" type="tns:responseCoreservicesBuy_responseOrder_completeClient_info_blk" />
  <xs:complexType name="responseCoreservicesBuy_responseOrder_completeCliloctb2_blk">
    <xs:sequence>
      <xs:element name="cliloctb2_addr_scrlField" nillable="true" type="tns:responseCoreservicesBuy_responseOrder_completeCliloctb2_blkCliloctb2_addr_scrl" />
      <xs:element name="cliloctb2_attn_firstField" nillable="true" type="xs:string" />
      <xs:element name="cliloctb2_attn_lastField" nillable="true" type="xs:string" />
      <xs:element name="cliloctb2_attn_titleField" nillable="true" type="xs:string" />
      <xs:element name="cliloctb2_cityField" nillable="true" type="xs:string" />
      <xs:element name="cliloctb2_country_codeField" nillable="true" type="xs:string" />
      <xs:element name="cliloctb2_country_nameField" nillable="true" type="xs:string" />
      <xs:element name="cliloctb2_daysavField" nillable="true" type="xs:string" />
      <xs:element name="cliloctb2_extField" nillable="true" type="xs:string" />
      <xs:element name="cliloctb2_faxField" nillable="true" type="xs:string" />
      <xs:element name="cliloctb2_fax_countryField" nillable="true" type="xs:string" />
      <xs:element name="cliloctb2_loc_firstField" nillable="true" type="xs:string" />
      <xs:element name="cliloctb2_loc_lastField" nillable="true" type="xs:string" />
      <xs:element name="cliloctb2_loc_titleField" nillable="true" type="xs:string" />
      <xs:element name="cliloctb2_phn_countryField" nillable="true" type="xs:string" />
      <xs:element name="cliloctb2_phoneField" nillable="true" type="xs:string" />
      <xs:element name="cliloctb2_stateField" nillable="true" type="xs:string" />
      <xs:element name="cliloctb2_state_nameField" nillable="true" type="xs:string" />
      <xs:element name="cliloctb2_time_zoneField" nillable="true" type="xs:string" />
      <xs:element name="cliloctb2_zipField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesBuy_responseOrder_completeCliloctb2_blk" nillable="true" type="tns:responseCoreservicesBuy_responseOrder_completeCliloctb2_blk" />
  <xs:complexType name="responseCoreservicesBuy_responseOrder_completeCliloctb2_blkCliloctb2_addr_scrl">
    <xs:sequence>
      <xs:element name="rowField" nillable="true" type="tns:ArrayOfresponseCoreservicesBuy_responseOrder_completeCliloctb2_blkCliloctb2_addr_scrlRow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesBuy_responseOrder_completeCliloctb2_blkCliloctb2_addr_scrl" nillable="true" type="tns:responseCoreservicesBuy_responseOrder_completeCliloctb2_blkCliloctb2_addr_scrl" />
  <xs:complexType name="ArrayOfresponseCoreservicesBuy_responseOrder_completeCliloctb2_blkCliloctb2_addr_scrlRow">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="responseCoreservicesBuy_responseOrder_completeCliloctb2_blkCliloctb2_addr_scrlRow" nillable="true" type="tns:responseCoreservicesBuy_responseOrder_completeCliloctb2_blkCliloctb2_addr_scrlRow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfresponseCoreservicesBuy_responseOrder_completeCliloctb2_blkCliloctb2_addr_scrlRow" nillable="true" type="tns:ArrayOfresponseCoreservicesBuy_responseOrder_completeCliloctb2_blkCliloctb2_addr_scrlRow" />
  <xs:complexType name="responseCoreservicesBuy_responseOrder_completeCliloctb2_blkCliloctb2_addr_scrlRow">
    <xs:sequence>
      <xs:element name="cliloctb2_addr_scrl_addrField" nillable="true" type="xs:string" />
      <xs:element name="cliloctb2_addr_scrl_lineField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesBuy_responseOrder_completeCliloctb2_blkCliloctb2_addr_scrlRow" nillable="true" type="tns:responseCoreservicesBuy_responseOrder_completeCliloctb2_blkCliloctb2_addr_scrlRow" />
  <xs:complexType name="responseCoreservicesBuy_responseOrder_completeConfirmation_blk">
    <xs:sequence>
      <xs:element name="confirmation_audit_dataField" nillable="true" type="xs:string" />
      <xs:element name="confirmation_audit_headerField" nillable="true" type="xs:string" />
      <xs:element name="confirmation_audit_ttnField" nillable="true" type="xs:string" />
      <xs:element name="confirmation_branchField" nillable="true" type="xs:string" />
      <xs:element name="confirmation_msg_dataField" nillable="true" type="xs:string" />
      <xs:element name="confirmation_typeField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesBuy_responseOrder_completeConfirmation_blk" nillable="true" type="tns:responseCoreservicesBuy_responseOrder_completeConfirmation_blk" />
  <xs:complexType name="responseCoreservicesBuy_responseOrder_completeInqbuy3_scrl_blk">
    <xs:sequence>
      <xs:element name="inqbuy3_scrlField" nillable="true" type="tns:responseCoreservicesBuy_responseOrder_completeInqbuy3_scrl_blkInqbuy3_scrl" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesBuy_responseOrder_completeInqbuy3_scrl_blk" nillable="true" type="tns:responseCoreservicesBuy_responseOrder_completeInqbuy3_scrl_blk" />
  <xs:complexType name="responseCoreservicesBuy_responseOrder_completeInqbuy3_scrl_blkInqbuy3_scrl">
    <xs:sequence>
      <xs:element name="rowField" nillable="true" type="tns:ArrayOfresponseCoreservicesBuy_responseOrder_completeInqbuy3_scrl_blkInqbuy3_scrlRow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesBuy_responseOrder_completeInqbuy3_scrl_blkInqbuy3_scrl" nillable="true" type="tns:responseCoreservicesBuy_responseOrder_completeInqbuy3_scrl_blkInqbuy3_scrl" />
  <xs:complexType name="ArrayOfresponseCoreservicesBuy_responseOrder_completeInqbuy3_scrl_blkInqbuy3_scrlRow">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="responseCoreservicesBuy_responseOrder_completeInqbuy3_scrl_blkInqbuy3_scrlRow" nillable="true" type="tns:responseCoreservicesBuy_responseOrder_completeInqbuy3_scrl_blkInqbuy3_scrlRow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfresponseCoreservicesBuy_responseOrder_completeInqbuy3_scrl_blkInqbuy3_scrlRow" nillable="true" type="tns:ArrayOfresponseCoreservicesBuy_responseOrder_completeInqbuy3_scrl_blkInqbuy3_scrlRow" />
  <xs:complexType name="responseCoreservicesBuy_responseOrder_completeInqbuy3_scrl_blkInqbuy3_scrlRow">
    <xs:sequence>
      <xs:element name="inqbuy3_scrl_amtField" nillable="true" type="xs:string" />
      <xs:element name="inqbuy3_scrl_ccnField" nillable="true" type="xs:string" />
      <xs:element name="inqbuy3_scrl_cidField" nillable="true" type="xs:string" />
      <xs:element name="inqbuy3_scrl_dataField" nillable="true" type="xs:string" />
      <xs:element name="inqbuy3_scrl_encryptedField" nillable="true" type="xs:string" />
      <xs:element name="inqbuy3_scrl_expField" nillable="true" type="xs:string" />
      <xs:element name="inqbuy3_scrl_fnameField" nillable="true" type="xs:string" />
      <xs:element name="inqbuy3_scrl_keynameField" nillable="true" type="xs:string" />
      <xs:element name="inqbuy3_scrl_lnameField" nillable="true" type="xs:string" />
      <xs:element name="inqbuy3_scrl_mopField" nillable="true" type="xs:string" />
      <xs:element name="inqbuy3_scrl_swiped_fromField" nillable="true" type="xs:string" />
      <xs:element name="inqbuy3_scrl_titleField" nillable="true" type="xs:string" />
      <xs:element name="inqbuy3_scrl_trackField" nillable="true" type="xs:string" />
      <xs:element name="inqbuy3_scrl_zipField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesBuy_responseOrder_completeInqbuy3_scrl_blkInqbuy3_scrlRow" nillable="true" type="tns:responseCoreservicesBuy_responseOrder_completeInqbuy3_scrl_blkInqbuy3_scrlRow" />
  <xs:complexType name="responseCoreservicesBuy_responseOrder_completeInqres8_scrl_blk">
    <xs:sequence>
      <xs:element name="inqres8_scrlField" nillable="true" type="tns:responseCoreservicesBuy_responseOrder_completeInqres8_scrl_blkInqres8_scrl" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesBuy_responseOrder_completeInqres8_scrl_blk" nillable="true" type="tns:responseCoreservicesBuy_responseOrder_completeInqres8_scrl_blk" />
  <xs:complexType name="responseCoreservicesBuy_responseOrder_completeInqres8_scrl_blkInqres8_scrl">
    <xs:sequence>
      <xs:element name="rowField" nillable="true" type="tns:responseCoreservicesBuy_responseOrder_completeInqres8_scrl_blkInqres8_scrlRow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesBuy_responseOrder_completeInqres8_scrl_blkInqres8_scrl" nillable="true" type="tns:responseCoreservicesBuy_responseOrder_completeInqres8_scrl_blkInqres8_scrl" />
  <xs:complexType name="responseCoreservicesBuy_responseOrder_completeInqres8_scrl_blkInqres8_scrlRow">
    <xs:sequence>
      <xs:element name="inqres8_scrl_msgevt_lnnoField" nillable="true" type="xs:string" />
      <xs:element name="inqres8_scrl_msgevt_msgField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesBuy_responseOrder_completeInqres8_scrl_blkInqres8_scrlRow" nillable="true" type="tns:responseCoreservicesBuy_responseOrder_completeInqres8_scrl_blkInqres8_scrlRow" />
  <xs:complexType name="responseCoreservicesBuy_responseOrder_completeServer_info_blk">
    <xs:sequence>
      <xs:element name="server_info_begin_timeField" nillable="true" type="xs:string" />
      <xs:element name="server_info_reply_queField" nillable="true" type="xs:string" />
      <xs:element name="server_info_seq_idField" nillable="true" type="xs:string" />
      <xs:element name="server_info_seq_msg_typeField" nillable="true" type="xs:string" />
      <xs:element name="server_info_tran_idField" nillable="true" type="xs:string" />
      <xs:element name="server_info_tran_msg_typeField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesBuy_responseOrder_completeServer_info_blk" nillable="true" type="tns:responseCoreservicesBuy_responseOrder_completeServer_info_blk" />
  <xs:complexType name="responseCoreservicesBuy_responseOrder_completeTb_blk">
    <xs:sequence>
      <xs:element name="tb_aisle_scrlField" nillable="true" type="tns:responseCoreservicesBuy_responseOrder_completeTb_blkTb_aisle_scrl" />
      <xs:element name="tb_brk_scrlField" nillable="true" type="tns:responseCoreservicesBuy_responseOrder_completeTb_blkTb_brk_scrl" />
      <xs:element name="tb_gate_scrlField" nillable="true" type="tns:responseCoreservicesBuy_responseOrder_completeTb_blkTb_gate_scrl" />
      <xs:element name="tb_num_headersField" nillable="true" type="xs:string" />
      <xs:element name="tb_print_orderField" nillable="true" type="xs:string" />
      <xs:element name="tb_prtr_typeField" nillable="true" type="xs:string" />
      <xs:element name="tb_tfb_scrlField" nillable="true" type="tns:responseCoreservicesBuy_responseOrder_completeTb_blkTb_tfb_scrl" />
      <xs:element name="tb_tfh_scrlField" nillable="true" type="tns:responseCoreservicesBuy_responseOrder_completeTb_blkTb_tfh_scrl" />
      <xs:element name="tb_tft2_scrlField" nillable="true" type="tns:responseCoreservicesBuy_responseOrder_completeTb_blkTb_tft2_scrl" />
      <xs:element name="tb_tft3_scrlField" nillable="true" type="tns:responseCoreservicesBuy_responseOrder_completeTb_blkTb_tft3_scrl" />
      <xs:element name="tb_tft4_scrlField" nillable="true" type="tns:responseCoreservicesBuy_responseOrder_completeTb_blkTb_tft4_scrl" />
      <xs:element name="tb_tft_scrlField" nillable="true" type="tns:responseCoreservicesBuy_responseOrder_completeTb_blkTb_tft_scrl" />
      <xs:element name="tb_tran_urnField" nillable="true" type="xs:string" />
      <xs:element name="tb_urn_scrlField" nillable="true" type="tns:responseCoreservicesBuy_responseOrder_completeTb_blkTb_urn_scrl" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesBuy_responseOrder_completeTb_blk" nillable="true" type="tns:responseCoreservicesBuy_responseOrder_completeTb_blk" />
  <xs:complexType name="responseCoreservicesBuy_responseOrder_completeTb_blkTb_aisle_scrl">
    <xs:sequence>
      <xs:element name="rowField" nillable="true" type="tns:responseCoreservicesBuy_responseOrder_completeTb_blkTb_aisle_scrlRow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesBuy_responseOrder_completeTb_blkTb_aisle_scrl" nillable="true" type="tns:responseCoreservicesBuy_responseOrder_completeTb_blkTb_aisle_scrl" />
  <xs:complexType name="responseCoreservicesBuy_responseOrder_completeTb_blkTb_aisle_scrlRow">
    <xs:sequence>
      <xs:element name="tb_aisle_scrl_aisleField" nillable="true" type="xs:string" />
      <xs:element name="tb_aisle_scrl_seat_idxField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesBuy_responseOrder_completeTb_blkTb_aisle_scrlRow" nillable="true" type="tns:responseCoreservicesBuy_responseOrder_completeTb_blkTb_aisle_scrlRow" />
  <xs:complexType name="responseCoreservicesBuy_responseOrder_completeTb_blkTb_brk_scrl">
    <xs:sequence>
      <xs:element name="rowField" nillable="true" type="tns:responseCoreservicesBuy_responseOrder_completeTb_blkTb_brk_scrlRow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesBuy_responseOrder_completeTb_blkTb_brk_scrl" nillable="true" type="tns:responseCoreservicesBuy_responseOrder_completeTb_blkTb_brk_scrl" />
  <xs:complexType name="responseCoreservicesBuy_responseOrder_completeTb_blkTb_brk_scrlRow">
    <xs:sequence>
      <xs:element name="tb_brk_scrl_break_noField" nillable="true" type="xs:string" />
      <xs:element name="tb_brk_scrl_seat_incField" nillable="true" type="xs:string" />
      <xs:element name="tb_brk_scrl_seat_noField" nillable="true" type="xs:string" />
      <xs:element name="tb_brk_scrl_tfb_noField" nillable="true" type="xs:string" />
      <xs:element name="tb_brk_scrl_tft_noField" nillable="true" type="xs:string" />
      <xs:element name="tb_brk_scrl_tixField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesBuy_responseOrder_completeTb_blkTb_brk_scrlRow" nillable="true" type="tns:responseCoreservicesBuy_responseOrder_completeTb_blkTb_brk_scrlRow" />
  <xs:complexType name="responseCoreservicesBuy_responseOrder_completeTb_blkTb_gate_scrl">
    <xs:sequence>
      <xs:element name="rowField" nillable="true" type="tns:responseCoreservicesBuy_responseOrder_completeTb_blkTb_gate_scrlRow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesBuy_responseOrder_completeTb_blkTb_gate_scrl" nillable="true" type="tns:responseCoreservicesBuy_responseOrder_completeTb_blkTb_gate_scrl" />
  <xs:complexType name="responseCoreservicesBuy_responseOrder_completeTb_blkTb_gate_scrlRow">
    <xs:sequence>
      <xs:element name="tb_gate_scrl_gateField" nillable="true" type="xs:string" />
      <xs:element name="tb_gate_scrl_seat_idxField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesBuy_responseOrder_completeTb_blkTb_gate_scrlRow" nillable="true" type="tns:responseCoreservicesBuy_responseOrder_completeTb_blkTb_gate_scrlRow" />
  <xs:complexType name="responseCoreservicesBuy_responseOrder_completeTb_blkTb_tfb_scrl">
    <xs:sequence>
      <xs:element name="rowField" nillable="true" type="tns:responseCoreservicesBuy_responseOrder_completeTb_blkTb_tfb_scrlRow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesBuy_responseOrder_completeTb_blkTb_tfb_scrl" nillable="true" type="tns:responseCoreservicesBuy_responseOrder_completeTb_blkTb_tfb_scrl" />
  <xs:complexType name="responseCoreservicesBuy_responseOrder_completeTb_blkTb_tfb_scrlRow">
    <xs:sequence>
      <xs:element name="tb_tfb_scrl_dataField" nillable="true" type="xs:string" />
      <xs:element name="tb_tfb_scrl_line_noField" nillable="true" type="xs:string" />
      <xs:element name="tb_tfb_scrl_noField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesBuy_responseOrder_completeTb_blkTb_tfb_scrlRow" nillable="true" type="tns:responseCoreservicesBuy_responseOrder_completeTb_blkTb_tfb_scrlRow" />
  <xs:complexType name="responseCoreservicesBuy_responseOrder_completeTb_blkTb_tfh_scrl">
    <xs:sequence>
      <xs:element name="rowField" nillable="true" type="tns:responseCoreservicesBuy_responseOrder_completeTb_blkTb_tfh_scrlRow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesBuy_responseOrder_completeTb_blkTb_tfh_scrl" nillable="true" type="tns:responseCoreservicesBuy_responseOrder_completeTb_blkTb_tfh_scrl" />
  <xs:complexType name="responseCoreservicesBuy_responseOrder_completeTb_blkTb_tfh_scrlRow">
    <xs:sequence>
      <xs:element name="tb_tfh_scrl_dataField" nillable="true" type="xs:string" />
      <xs:element name="tb_tfh_scrl_line_noField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesBuy_responseOrder_completeTb_blkTb_tfh_scrlRow" nillable="true" type="tns:responseCoreservicesBuy_responseOrder_completeTb_blkTb_tfh_scrlRow" />
  <xs:complexType name="responseCoreservicesBuy_responseOrder_completeTb_blkTb_tft2_scrl">
    <xs:sequence>
      <xs:element name="rowField" nillable="true" type="tns:responseCoreservicesBuy_responseOrder_completeTb_blkTb_tft2_scrlRow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesBuy_responseOrder_completeTb_blkTb_tft2_scrl" nillable="true" type="tns:responseCoreservicesBuy_responseOrder_completeTb_blkTb_tft2_scrl" />
  <xs:complexType name="responseCoreservicesBuy_responseOrder_completeTb_blkTb_tft2_scrlRow">
    <xs:sequence>
      <xs:element name="tb_tft2_scrl_col_noField" nillable="true" type="xs:string" />
      <xs:element name="tb_tft2_scrl_justField" nillable="true" type="xs:string" />
      <xs:element name="tb_tft2_scrl_lengthField" nillable="true" type="xs:string" />
      <xs:element name="tb_tft2_scrl_line_noField" nillable="true" type="xs:string" />
      <xs:element name="tb_tft2_scrl_noField" nillable="true" type="xs:string" />
      <xs:element name="tb_tft2_scrl_widthField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesBuy_responseOrder_completeTb_blkTb_tft2_scrlRow" nillable="true" type="tns:responseCoreservicesBuy_responseOrder_completeTb_blkTb_tft2_scrlRow" />
  <xs:complexType name="responseCoreservicesBuy_responseOrder_completeTb_blkTb_tft3_scrl">
    <xs:sequence>
      <xs:element name="rowField" nillable="true" type="tns:responseCoreservicesBuy_responseOrder_completeTb_blkTb_tft3_scrlRow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesBuy_responseOrder_completeTb_blkTb_tft3_scrl" nillable="true" type="tns:responseCoreservicesBuy_responseOrder_completeTb_blkTb_tft3_scrl" />
  <xs:complexType name="responseCoreservicesBuy_responseOrder_completeTb_blkTb_tft3_scrlRow">
    <xs:sequence>
      <xs:element name="tb_tft3_scrl_col_noField" nillable="true" type="xs:string" />
      <xs:element name="tb_tft3_scrl_justField" nillable="true" type="xs:string" />
      <xs:element name="tb_tft3_scrl_lengthField" nillable="true" type="xs:string" />
      <xs:element name="tb_tft3_scrl_line_noField" nillable="true" type="xs:string" />
      <xs:element name="tb_tft3_scrl_noField" nillable="true" type="xs:string" />
      <xs:element name="tb_tft3_scrl_widthField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesBuy_responseOrder_completeTb_blkTb_tft3_scrlRow" nillable="true" type="tns:responseCoreservicesBuy_responseOrder_completeTb_blkTb_tft3_scrlRow" />
  <xs:complexType name="responseCoreservicesBuy_responseOrder_completeTb_blkTb_tft4_scrl">
    <xs:sequence>
      <xs:element name="rowField" nillable="true" type="tns:responseCoreservicesBuy_responseOrder_completeTb_blkTb_tft4_scrlRow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesBuy_responseOrder_completeTb_blkTb_tft4_scrl" nillable="true" type="tns:responseCoreservicesBuy_responseOrder_completeTb_blkTb_tft4_scrl" />
  <xs:complexType name="responseCoreservicesBuy_responseOrder_completeTb_blkTb_tft4_scrlRow">
    <xs:sequence>
      <xs:element name="tb_tft4_scrl_col_noField" nillable="true" type="xs:string" />
      <xs:element name="tb_tft4_scrl_justField" nillable="true" type="xs:string" />
      <xs:element name="tb_tft4_scrl_lengthField" nillable="true" type="xs:string" />
      <xs:element name="tb_tft4_scrl_line_noField" nillable="true" type="xs:string" />
      <xs:element name="tb_tft4_scrl_noField" nillable="true" type="xs:string" />
      <xs:element name="tb_tft4_scrl_widthField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesBuy_responseOrder_completeTb_blkTb_tft4_scrlRow" nillable="true" type="tns:responseCoreservicesBuy_responseOrder_completeTb_blkTb_tft4_scrlRow" />
  <xs:complexType name="responseCoreservicesBuy_responseOrder_completeTb_blkTb_tft_scrl">
    <xs:sequence>
      <xs:element name="rowField" nillable="true" type="tns:responseCoreservicesBuy_responseOrder_completeTb_blkTb_tft_scrlRow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesBuy_responseOrder_completeTb_blkTb_tft_scrl" nillable="true" type="tns:responseCoreservicesBuy_responseOrder_completeTb_blkTb_tft_scrl" />
  <xs:complexType name="responseCoreservicesBuy_responseOrder_completeTb_blkTb_tft_scrlRow">
    <xs:sequence>
      <xs:element name="tb_tft_scrl_col_noField" nillable="true" type="xs:string" />
      <xs:element name="tb_tft_scrl_justField" nillable="true" type="xs:string" />
      <xs:element name="tb_tft_scrl_lengthField" nillable="true" type="xs:string" />
      <xs:element name="tb_tft_scrl_line_noField" nillable="true" type="xs:string" />
      <xs:element name="tb_tft_scrl_noField" nillable="true" type="xs:string" />
      <xs:element name="tb_tft_scrl_widthField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesBuy_responseOrder_completeTb_blkTb_tft_scrlRow" nillable="true" type="tns:responseCoreservicesBuy_responseOrder_completeTb_blkTb_tft_scrlRow" />
  <xs:complexType name="responseCoreservicesBuy_responseOrder_completeTb_blkTb_urn_scrl">
    <xs:sequence>
      <xs:element name="rowField" nillable="true" type="tns:responseCoreservicesBuy_responseOrder_completeTb_blkTb_urn_scrlRow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesBuy_responseOrder_completeTb_blkTb_urn_scrl" nillable="true" type="tns:responseCoreservicesBuy_responseOrder_completeTb_blkTb_urn_scrl" />
  <xs:complexType name="responseCoreservicesBuy_responseOrder_completeTb_blkTb_urn_scrlRow">
    <xs:sequence>
      <xs:element name="tb_urn_scrl_urnField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesBuy_responseOrder_completeTb_blkTb_urn_scrlRow" nillable="true" type="tns:responseCoreservicesBuy_responseOrder_completeTb_blkTb_urn_scrlRow" />
  <xs:complexType name="responseCoreservicesBuy_responseSales_info">
    <xs:sequence>
      <xs:element name="codeField" nillable="true" type="xs:string" />
      <xs:element name="errorField" nillable="true" type="xs:string" />
      <xs:element name="mesgField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesBuy_responseSales_info" nillable="true" type="tns:responseCoreservicesBuy_responseSales_info" />
  <xs:complexType name="responseCoreservicesInquire_response">
    <xs:sequence>
      <xs:element name="area_spec_idField" nillable="true" type="xs:string" />
      <xs:element name="choiceField" nillable="true" type="tns:ArrayOfresponseCoreservicesInquire_responseChoice" />
      <xs:element name="disability_flagField" nillable="true" type="xs:string" />
      <xs:element name="event_and_perf_detailField" nillable="true" type="tns:responseCoreservicesInquire_responseEvent_and_perf_detail" />
      <xs:element name="inqres10_blkField" nillable="true" type="tns:responseCoreservicesInquire_responseInqres10_blk" />
      <xs:element name="inqres11_scrl_blkField" nillable="true" type="tns:responseCoreservicesInquire_responseInqres11_scrl_blk" />
      <xs:element name="inqres8_scrl_blkField" nillable="true" type="tns:responseCoreservicesInquire_responseInqres8_scrl_blk" />
      <xs:element name="inqres8a_scrl_blkField" nillable="true" type="tns:responseCoreservicesInquire_responseInqres8a_scrl_blk" />
      <xs:element name="inqres_rewards_blkField" nillable="true" type="tns:responseCoreservicesInquire_responseInqres_rewards_blk" />
      <xs:element name="marketing_codeField" nillable="true" type="xs:string" />
      <xs:element name="membership_detailField" nillable="true" type="tns:responseCoreservicesInquire_responseMembership_detail" />
      <xs:element name="method_of_deliveryField" nillable="true" type="tns:ArrayOfresponseCoreservicesInquire_responseMethod_of_delivery" />
      <xs:element name="misc_pass_thruField" nillable="true" type="xs:string" />
      <xs:element name="mod_et_scrl_blkField" nillable="true" type="tns:responseCoreservicesInquire_responseMod_et_scrl_blk" />
      <xs:element name="offer_idField" nillable="true" type="xs:string" />
      <xs:element name="prodidField" nillable="true" type="xs:string" />
      <xs:element name="product_type_idField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesInquire_response" nillable="true" type="tns:responseCoreservicesInquire_response" />
  <xs:complexType name="ArrayOfresponseCoreservicesInquire_responseChoice">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="responseCoreservicesInquire_responseChoice" nillable="true" type="tns:responseCoreservicesInquire_responseChoice" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfresponseCoreservicesInquire_responseChoice" nillable="true" type="tns:ArrayOfresponseCoreservicesInquire_responseChoice" />
  <xs:complexType name="responseCoreservicesInquire_responseChoice">
    <xs:sequence>
      <xs:element name="inq_ref_numField" nillable="true" type="xs:string" />
      <xs:element name="price_detailField" nillable="true" type="tns:responseCoreservicesInquire_responseChoicePrice_detail" />
      <xs:element name="seat_detailField" nillable="true" type="tns:responseCoreservicesInquire_responseChoiceSeat_detail" />
      <xs:element name="totals_detailField" nillable="true" type="tns:responseCoreservicesInquire_responseChoiceTotals_detail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesInquire_responseChoice" nillable="true" type="tns:responseCoreservicesInquire_responseChoice" />
  <xs:complexType name="responseCoreservicesInquire_responseChoicePrice_detail">
    <xs:sequence>
      <xs:element name="priceField" nillable="true" type="tns:responseCoreservicesInquire_responseChoicePrice_detailPrice" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesInquire_responseChoicePrice_detail" nillable="true" type="tns:responseCoreservicesInquire_responseChoicePrice_detail" />
  <xs:complexType name="responseCoreservicesInquire_responseChoicePrice_detailPrice">
    <xs:sequence>
      <xs:element name="ancillary_nameField" nillable="true" type="xs:string" />
      <xs:element name="ancillary_totalField" nillable="true" type="xs:string" />
      <xs:element name="msgpc_numField" nillable="true" type="xs:string" />
      <xs:element name="num_ticketsField" nillable="true" type="xs:string" />
      <xs:element name="price_codeField" nillable="true" type="xs:string" />
      <xs:element name="price_code_descField" nillable="true" type="xs:string" />
      <xs:element name="price_code_nameField" nillable="true" type="xs:string" />
      <xs:element name="price_setField" nillable="true" type="xs:string" />
      <xs:element name="tax_nameField" nillable="true" type="xs:string" />
      <xs:element name="tax_totalField" nillable="true" type="xs:string" />
      <xs:element name="ticket_operator_service_chargeField" nillable="true" type="xs:string" />
      <xs:element name="ticket_priceField" nillable="true" type="xs:string" />
      <xs:element name="ticket_service_chargeField" nillable="true" type="xs:string" />
      <xs:element name="total_priceField" nillable="true" type="xs:string" />
      <xs:element name="use_ancillaryField" nillable="true" type="xs:string" />
      <xs:element name="use_ancillary_nameField" nillable="true" type="xs:string" />
      <xs:element name="use_ancillary_valueField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesInquire_responseChoicePrice_detailPrice" nillable="true" type="tns:responseCoreservicesInquire_responseChoicePrice_detailPrice" />
  <xs:complexType name="responseCoreservicesInquire_responseChoiceSeat_detail">
    <xs:sequence>
      <xs:element name="seatField" nillable="true" type="tns:ArrayOfresponseCoreservicesInquire_responseChoiceSeat_detailSeat" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesInquire_responseChoiceSeat_detail" nillable="true" type="tns:responseCoreservicesInquire_responseChoiceSeat_detail" />
  <xs:complexType name="ArrayOfresponseCoreservicesInquire_responseChoiceSeat_detailSeat">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="responseCoreservicesInquire_responseChoiceSeat_detailSeat" nillable="true" type="tns:responseCoreservicesInquire_responseChoiceSeat_detailSeat" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfresponseCoreservicesInquire_responseChoiceSeat_detailSeat" nillable="true" type="tns:ArrayOfresponseCoreservicesInquire_responseChoiceSeat_detailSeat" />
  <xs:complexType name="responseCoreservicesInquire_responseChoiceSeat_detailSeat">
    <xs:sequence>
      <xs:element name="areaField" nillable="true" type="xs:string" />
      <xs:element name="high_seat_locationField" nillable="true" type="xs:string" />
      <xs:element name="high_seat_numField" nillable="true" type="xs:string" />
      <xs:element name="low_seat_locationField" nillable="true" type="xs:string" />
      <xs:element name="low_seat_numField" nillable="true" type="xs:string" />
      <xs:element name="num_rowsField" nillable="true" type="xs:string" />
      <xs:element name="num_ticketsField" nillable="true" type="xs:string" />
      <xs:element name="price_codeField" nillable="true" type="xs:string" />
      <xs:element name="price_setField" nillable="true" type="xs:string" />
      <xs:element name="rowField" nillable="true" type="xs:string" />
      <xs:element name="row_code_messageField" nillable="true" type="xs:string" />
      <xs:element name="row_dist_messageField" nillable="true" type="xs:string" />
      <xs:element name="seat_messgeField" nillable="true" type="xs:string" />
      <xs:element name="seat_statField" nillable="true" type="xs:string" />
      <xs:element name="seat_stat_nameField" nillable="true" type="xs:string" />
      <xs:element name="sectionField" nillable="true" type="xs:string" />
      <xs:element name="zone_detailField" nillable="true" type="tns:responseCoreservicesInquire_responseChoiceSeat_detailSeatZone_detail" />
      <xs:element name="zone_event_numberField" nillable="true" type="xs:string" />
      <xs:element name="zone_numberField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesInquire_responseChoiceSeat_detailSeat" nillable="true" type="tns:responseCoreservicesInquire_responseChoiceSeat_detailSeat" />
  <xs:complexType name="responseCoreservicesInquire_responseChoiceSeat_detailSeatZone_detail">
    <xs:sequence>
      <xs:element name="logical_levelField" nillable="true" type="xs:string" />
      <xs:element name="msgzone_numField" nillable="true" type="xs:string" />
      <xs:element name="seat_incField" nillable="true" type="xs:string" />
      <xs:element name="zone_event_levelField" nillable="true" type="xs:string" />
      <xs:element name="zone_event_name1Field" nillable="true" type="xs:string" />
      <xs:element name="zone_event_name2Field" nillable="true" type="xs:string" />
      <xs:element name="zone_event_nm1useField" nillable="true" type="xs:string" />
      <xs:element name="zone_event_nm2useField" nillable="true" type="xs:string" />
      <xs:element name="zone_event_noField" nillable="true" type="xs:string" />
      <xs:element name="zone_event_zone_typeField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesInquire_responseChoiceSeat_detailSeatZone_detail" nillable="true" type="tns:responseCoreservicesInquire_responseChoiceSeat_detailSeatZone_detail" />
  <xs:complexType name="responseCoreservicesInquire_responseChoiceTotals_detail">
    <xs:sequence>
      <xs:element name="ancillary_amountField" nillable="true" type="xs:string" />
      <xs:element name="established_priceField" nillable="true" type="xs:string" />
      <xs:element name="tax_amountField" nillable="true" type="xs:string" />
      <xs:element name="ticket_amountField" nillable="true" type="xs:string" />
      <xs:element name="ticket_service_chargeField" nillable="true" type="xs:string" />
      <xs:element name="total_costField" nillable="true" type="xs:string" />
      <xs:element name="total_priceField" nillable="true" type="xs:string" />
      <xs:element name="total_service_chargeField" nillable="true" type="xs:string" />
      <xs:element name="total_ticket_amountField" nillable="true" type="xs:string" />
      <xs:element name="transaction_service_chargeField" nillable="true" type="xs:string" />
      <xs:element name="use_ancillaryField" nillable="true" type="xs:string" />
      <xs:element name="use_ancillary_nameField" nillable="true" type="xs:string" />
      <xs:element name="use_ancillary_valueField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesInquire_responseChoiceTotals_detail" nillable="true" type="tns:responseCoreservicesInquire_responseChoiceTotals_detail" />
  <xs:complexType name="responseCoreservicesInquire_responseEvent_and_perf_detail">
    <xs:sequence>
      <xs:element name="amex_seatingField" nillable="true" type="xs:string" />
      <xs:element name="different_choiceField" nillable="true" type="xs:string" />
      <xs:element name="event_codeField" nillable="true" type="xs:string" />
      <xs:element name="event_daylightsavingsField" nillable="true" type="xs:string" />
      <xs:element name="event_nameField" nillable="true" type="xs:string" />
      <xs:element name="event_time_zoneField" nillable="true" type="xs:string" />
      <xs:element name="get_local_addressField" nillable="true" type="xs:string" />
      <xs:element name="has_modField" nillable="true" type="xs:string" />
      <xs:element name="order_numberField" nillable="true" type="xs:string" />
      <xs:element name="perf_dateField" nillable="true" type="xs:string" />
      <xs:element name="perf_day_of_weekField" nillable="true" type="xs:string" />
      <xs:element name="perf_levelsField" nillable="true" type="xs:string" />
      <xs:element name="perf_nameField" nillable="true" type="xs:string" />
      <xs:element name="perf_obsv_msgField" nillable="true" type="xs:string" />
      <xs:element name="perf_prod_idField" nillable="true" type="xs:string" />
      <xs:element name="perf_real_timeField" nillable="true" type="xs:string" />
      <xs:element name="perf_timeField" nillable="true" type="xs:string" />
      <xs:element name="perf_typeField" nillable="true" type="xs:string" />
      <xs:element name="perf_xtimeField" nillable="true" type="xs:string" />
      <xs:element name="premium_dateField" nillable="true" type="xs:string" />
      <xs:element name="premium_foundField" nillable="true" type="xs:string" />
      <xs:element name="premium_typeField" nillable="true" type="xs:string" />
      <xs:element name="product_idField" nillable="true" type="xs:string" />
      <xs:element name="so_altField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesInquire_responseEvent_and_perf_detail" nillable="true" type="tns:responseCoreservicesInquire_responseEvent_and_perf_detail" />
  <xs:complexType name="responseCoreservicesInquire_responseInqres10_blk">
    <xs:sequence>
      <xs:element name="inqres10_scrlField" nillable="true" type="tns:responseCoreservicesInquire_responseInqres10_blkInqres10_scrl" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesInquire_responseInqres10_blk" nillable="true" type="tns:responseCoreservicesInquire_responseInqres10_blk" />
  <xs:complexType name="responseCoreservicesInquire_responseInqres10_blkInqres10_scrl">
    <xs:sequence>
      <xs:element name="rowField" nillable="true" type="tns:ArrayOfresponseCoreservicesInquire_responseInqres10_blkInqres10_scrlRow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesInquire_responseInqres10_blkInqres10_scrl" nillable="true" type="tns:responseCoreservicesInquire_responseInqres10_blkInqres10_scrl" />
  <xs:complexType name="ArrayOfresponseCoreservicesInquire_responseInqres10_blkInqres10_scrlRow">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="responseCoreservicesInquire_responseInqres10_blkInqres10_scrlRow" nillable="true" type="tns:responseCoreservicesInquire_responseInqres10_blkInqres10_scrlRow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfresponseCoreservicesInquire_responseInqres10_blkInqres10_scrlRow" nillable="true" type="tns:ArrayOfresponseCoreservicesInquire_responseInqres10_blkInqres10_scrlRow" />
  <xs:complexType name="responseCoreservicesInquire_responseInqres10_blkInqres10_scrlRow">
    <xs:sequence>
      <xs:element name="inqres10_scrl_cc_typeField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesInquire_responseInqres10_blkInqres10_scrlRow" nillable="true" type="tns:responseCoreservicesInquire_responseInqres10_blkInqres10_scrlRow" />
  <xs:complexType name="responseCoreservicesInquire_responseInqres11_scrl_blk">
    <xs:sequence>
      <xs:element name="inqres11_scrlField" nillable="true" type="tns:responseCoreservicesInquire_responseInqres11_scrl_blkInqres11_scrl" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesInquire_responseInqres11_scrl_blk" nillable="true" type="tns:responseCoreservicesInquire_responseInqres11_scrl_blk" />
  <xs:complexType name="responseCoreservicesInquire_responseInqres11_scrl_blkInqres11_scrl">
    <xs:sequence>
      <xs:element name="rowField" nillable="true" type="tns:responseCoreservicesInquire_responseInqres11_scrl_blkInqres11_scrlRow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesInquire_responseInqres11_scrl_blkInqres11_scrl" nillable="true" type="tns:responseCoreservicesInquire_responseInqres11_scrl_blkInqres11_scrl" />
  <xs:complexType name="responseCoreservicesInquire_responseInqres11_scrl_blkInqres11_scrlRow">
    <xs:sequence>
      <xs:element name="inqres11_scrl_promo_codeField" nillable="true" type="xs:string" />
      <xs:element name="inqres11_scrl_promo_descriptionField" nillable="true" type="xs:string" />
      <xs:element name="inqres11_scrl_promo_use_so_onlyField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesInquire_responseInqres11_scrl_blkInqres11_scrlRow" nillable="true" type="tns:responseCoreservicesInquire_responseInqres11_scrl_blkInqres11_scrlRow" />
  <xs:complexType name="responseCoreservicesInquire_responseInqres8_scrl_blk">
    <xs:sequence>
      <xs:element name="inqres8_scrlField" nillable="true" type="tns:responseCoreservicesInquire_responseInqres8_scrl_blkInqres8_scrl" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesInquire_responseInqres8_scrl_blk" nillable="true" type="tns:responseCoreservicesInquire_responseInqres8_scrl_blk" />
  <xs:complexType name="responseCoreservicesInquire_responseInqres8_scrl_blkInqres8_scrl">
    <xs:sequence>
      <xs:element name="rowField" nillable="true" type="tns:ArrayOfresponseCoreservicesInquire_responseInqres8_scrl_blkInqres8_scrlRow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesInquire_responseInqres8_scrl_blkInqres8_scrl" nillable="true" type="tns:responseCoreservicesInquire_responseInqres8_scrl_blkInqres8_scrl" />
  <xs:complexType name="ArrayOfresponseCoreservicesInquire_responseInqres8_scrl_blkInqres8_scrlRow">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="responseCoreservicesInquire_responseInqres8_scrl_blkInqres8_scrlRow" nillable="true" type="tns:responseCoreservicesInquire_responseInqres8_scrl_blkInqres8_scrlRow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfresponseCoreservicesInquire_responseInqres8_scrl_blkInqres8_scrlRow" nillable="true" type="tns:ArrayOfresponseCoreservicesInquire_responseInqres8_scrl_blkInqres8_scrlRow" />
  <xs:complexType name="responseCoreservicesInquire_responseInqres8_scrl_blkInqres8_scrlRow">
    <xs:sequence>
      <xs:element name="inqres8_scrl_msgevt_lnnoField" nillable="true" type="xs:string" />
      <xs:element name="inqres8_scrl_msgevt_msgField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesInquire_responseInqres8_scrl_blkInqres8_scrlRow" nillable="true" type="tns:responseCoreservicesInquire_responseInqres8_scrl_blkInqres8_scrlRow" />
  <xs:complexType name="responseCoreservicesInquire_responseInqres8a_scrl_blk">
    <xs:sequence>
      <xs:element name="inqres8a_scrlField" nillable="true" type="tns:responseCoreservicesInquire_responseInqres8a_scrl_blkInqres8a_scrl" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesInquire_responseInqres8a_scrl_blk" nillable="true" type="tns:responseCoreservicesInquire_responseInqres8a_scrl_blk" />
  <xs:complexType name="responseCoreservicesInquire_responseInqres8a_scrl_blkInqres8a_scrl">
    <xs:sequence>
      <xs:element name="rowField" nillable="true" type="tns:responseCoreservicesInquire_responseInqres8a_scrl_blkInqres8a_scrlRow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesInquire_responseInqres8a_scrl_blkInqres8a_scrl" nillable="true" type="tns:responseCoreservicesInquire_responseInqres8a_scrl_blkInqres8a_scrl" />
  <xs:complexType name="responseCoreservicesInquire_responseInqres8a_scrl_blkInqres8a_scrlRow">
    <xs:sequence>
      <xs:element name="inqres8a_scrl_event_namField" nillable="true" type="xs:string" />
      <xs:element name="inqres8a_scrl_lnnoField" nillable="true" type="xs:string" />
      <xs:element name="inqres8a_scrl_msgField" nillable="true" type="xs:string" />
      <xs:element name="inqres8a_scrl_msgtypeField" nillable="true" type="xs:string" />
      <xs:element name="inqres8a_scrl_pcodeField" nillable="true" type="xs:string" />
      <xs:element name="inqres8a_scrl_perf_dateField" nillable="true" type="xs:string" />
      <xs:element name="inqres8a_scrl_prf_typeField" nillable="true" type="xs:string" />
      <xs:element name="inqres8a_scrl_zone_numField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesInquire_responseInqres8a_scrl_blkInqres8a_scrlRow" nillable="true" type="tns:responseCoreservicesInquire_responseInqres8a_scrl_blkInqres8a_scrlRow" />
  <xs:complexType name="responseCoreservicesInquire_responseInqres_rewards_blk">
    <xs:sequence>
      <xs:element name="inqres_rewards_scrlField" nillable="true" type="tns:responseCoreservicesInquire_responseInqres_rewards_blkInqres_rewards_scrl" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesInquire_responseInqres_rewards_blk" nillable="true" type="tns:responseCoreservicesInquire_responseInqres_rewards_blk" />
  <xs:complexType name="responseCoreservicesInquire_responseInqres_rewards_blkInqres_rewards_scrl">
    <xs:sequence>
      <xs:element name="rowField" nillable="true" type="tns:responseCoreservicesInquire_responseInqres_rewards_blkInqres_rewards_scrlRow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesInquire_responseInqres_rewards_blkInqres_rewards_scrl" nillable="true" type="tns:responseCoreservicesInquire_responseInqres_rewards_blkInqres_rewards_scrl" />
  <xs:complexType name="responseCoreservicesInquire_responseInqres_rewards_blkInqres_rewards_scrlRow">
    <xs:sequence>
      <xs:element name="inqres_rewards_info_idField" nillable="true" type="xs:string" />
      <xs:element name="inqres_rewards_info_programField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesInquire_responseInqres_rewards_blkInqres_rewards_scrlRow" nillable="true" type="tns:responseCoreservicesInquire_responseInqres_rewards_blkInqres_rewards_scrlRow" />
  <xs:complexType name="responseCoreservicesInquire_responseMembership_detail">
    <xs:sequence>
      <xs:element name="end_dateField" nillable="true" type="xs:string" />
      <xs:element name="facmemnumField" nillable="true" type="xs:string" />
      <xs:element name="first_nameField" nillable="true" type="xs:string" />
      <xs:element name="last_nameField" nillable="true" type="xs:string" />
      <xs:element name="long_nameField" nillable="true" type="xs:string" />
      <xs:element name="num_membershipsField" nillable="true" type="xs:string" />
      <xs:element name="num_purchasedField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesInquire_responseMembership_detail" nillable="true" type="tns:responseCoreservicesInquire_responseMembership_detail" />
  <xs:complexType name="ArrayOfresponseCoreservicesInquire_responseMethod_of_delivery">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="responseCoreservicesInquire_responseMethod_of_delivery" nillable="true" type="tns:responseCoreservicesInquire_responseMethod_of_delivery" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfresponseCoreservicesInquire_responseMethod_of_delivery" nillable="true" type="tns:ArrayOfresponseCoreservicesInquire_responseMethod_of_delivery" />
  <xs:complexType name="responseCoreservicesInquire_responseMethod_of_delivery">
    <xs:sequence>
      <xs:element name="codeField" nillable="true" type="xs:string" />
      <xs:element name="descriptionField" nillable="true" type="xs:string" />
      <xs:element name="kindField" nillable="true" type="xs:string" />
      <xs:element name="mix_orderField" nillable="true" type="xs:string" />
      <xs:element name="nameField" nillable="true" type="xs:string" />
      <xs:element name="whatField" nillable="true" type="xs:string" />
      <xs:element name="zip_requiredField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesInquire_responseMethod_of_delivery" nillable="true" type="tns:responseCoreservicesInquire_responseMethod_of_delivery" />
  <xs:complexType name="responseCoreservicesInquire_responseMod_et_scrl_blk">
    <xs:sequence>
      <xs:element name="mod_et_scrlField" nillable="true" type="tns:responseCoreservicesInquire_responseMod_et_scrl_blkmod_et_scrl" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesInquire_responseMod_et_scrl_blk" nillable="true" type="tns:responseCoreservicesInquire_responseMod_et_scrl_blk" />
  <xs:complexType name="responseCoreservicesInquire_responseMod_et_scrl_blkmod_et_scrl">
    <xs:sequence>
      <xs:element name="rowField" nillable="true" type="tns:ArrayOfresponseCoreservicesInquire_responseMod_et_scrl_blkmod_et_scrlRow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesInquire_responseMod_et_scrl_blkmod_et_scrl" nillable="true" type="tns:responseCoreservicesInquire_responseMod_et_scrl_blkmod_et_scrl" />
  <xs:complexType name="ArrayOfresponseCoreservicesInquire_responseMod_et_scrl_blkmod_et_scrlRow">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="responseCoreservicesInquire_responseMod_et_scrl_blkmod_et_scrlRow" nillable="true" type="tns:responseCoreservicesInquire_responseMod_et_scrl_blkmod_et_scrlRow" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfresponseCoreservicesInquire_responseMod_et_scrl_blkmod_et_scrlRow" nillable="true" type="tns:ArrayOfresponseCoreservicesInquire_responseMod_et_scrl_blkmod_et_scrlRow" />
  <xs:complexType name="responseCoreservicesInquire_responseMod_et_scrl_blkmod_et_scrlRow">
    <xs:sequence>
      <xs:element name="mod_et_scrl_daysField" nillable="true" type="xs:string" />
      <xs:element name="mod_et_scrl_fee_amtField" nillable="true" type="xs:string" />
      <xs:element name="mod_et_scrl_modField" nillable="true" type="xs:string" />
      <xs:element name="mod_et_scrl_ok_dateField" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="responseCoreservicesInquire_responseMod_et_scrl_blkmod_et_scrlRow" nillable="true" type="tns:responseCoreservicesInquire_responseMod_et_scrl_blkmod_et_scrlRow" />
</xs:schema>